<h1>Bank Detail View </h1>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"> {{bank.Name}} Details</h5>
    <hr/>

      <table class="table table-striped"  id="table_events">
          <tbody>
            <tr>
              <td><label>Name :</label></td>
              <td> {{bank.Name}}</td>
            </tr>

            <tr>
              <td><label>Bank's Contact number:</label></td>
              <td>{{bank.Contact}}</td>
            </tr> 

            <tr>
                <td><label>Address :</label></td>
                <td>{{bank.Address}}</td>
              </tr>
              <tr>
                  <td> <label>City :</label></td>
                  <td>{{bank.City}}</td>
                </tr>
                <tr>
                    <td><label>District :</label></td>
                    <td>{{bank.District}}</td>
                  </tr> 
                  <tr>
                      <td><label>State :</label></td>
                      <td>{{bank.State}}</td>
                    </tr>
            <tr>
              <td> <label>Pincode :</label></td>
              <td>  {{bank.Pincode}}</td>
            </tr>
            <tr>
                <td> <label>Telephone :</label></td>
                <td>{{bank.Telephone}}</td>
            </tr>
            <tr>
                <td><label>Establishment No. :</label></td>
                <td>{{bank.Establishment_no}}</td>
            </tr>
            <tr>
                <td><label>Website :</label></td>
                <td>{{bank.Website}}</td>
            </tr>
            <tr>
              <td> <label>Chairman Name :</label></td>
              <td>  {{bank.Chairman_name}}</td>
            </tr>
            <tr>
              <td> <label>Email Id of Bank :</label></td>
              <td>  {{bank.emailid_bank}}</td>
            </tr>
            <tr>
              <td> <label>Email Id of Chairman :</label></td>
              <td>  {{bank.Chairman_emailid}}</td>
            </tr>
            <tr>
              <td><label>Contact number of Chairman :</label></td>
              <td>{{bank.Chairman_mobile}}</td>
            </tr>
            <tr>
                <td><label>MD/CEO/GM Name :</label></td>
                <td>{{bank.MD_CEO_GM_name}}</td>
              </tr>
            <tr>
                  <td><label>MD/CEO/GM contact number :</label></td>
                  <td>{{bank.MD_CEO_GM_mobile}}</td>
            </tr>
            <tr>
                <td><label>Name of IT head :</label></td>
                <td>{{bank. IT_head_name}}</td>
              </tr>
              <tr>
                  <td><label>Contact number of IT head :</label></td>
                  <td>{{bank. IT_head_mobile}}</td>
                </tr>    
              <tr>
                  <td><label>Description :</label></td>
                  <td>{{bank.Description}}</td>
                </tr>   
                <tr>
                  <button type="button" class="btn btn-info" (click)="goBack()">Back</button>
                </tr>
          </tbody>
        </table>

  </div>
</div>