<div class="row" >
  <div class="col-md-6"><h1> Bank </h1></div>
  <div class="col-md-6" align="right"><a class="btn btn-success btn-md"  routerLink="/bankform/0"> New Bank </a></div>
</div>
<hr/>
<div class="row" >
<div class="col-md-12">
    
    <img src="./assets/img/loader.gif" *ngIf="dataLoaded==false"/>
    
    <table class="table table-bordered table-hover" *ngIf="dataLoaded==true">
        <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>District</th>
                <th>State</th>
                <th>Pincode</th>
                <th>Telephone</th>
                <th>Establishment_no</th>
                <th>Website</th>
                <th>emailid_bank</th>
                <th>Chairman_name</th>
                <th>Chairman_emailid</th>
                <th>Chairman_mobile</th>
                <th>MD_CEO_GM_name</th>
                <th>MD_CEO_GM_mobile</th>
                <th>IT_head_name</th>
                <th>IT_head_mobile</th>
                <th>Description</th>
                <th>Contact</th>
                <th>Questionarie Id </th>
                <th>Payment</th>
                <th>Action</th>
              </tr>
        </thead> 
        <tbody>
          <tr *ngFor="let b of banks">
            <td>{{b.Id}}</td>
            <td>{{b.Name}}</td>
            <td>{{b.Address}}</td>
            <td>{{b.City}}</td>
            <td>{{b.District}}</td>
            <td>{{b.State}}</td>
            <td>{{b.Pincode}}</td>
            <td>{{b.Telephone}}</td>
            <td>{{b.Establishment_no}}</td>
            <td>{{b.Website}}</td>
            <td>{{b.emailid_bank}}</td>
            <td>{{b.Chairman_name}}</td>
            <td>{{b.Chairman_emailid}}</td>
            <td>{{b.Chairman_mobile}}</td>
            <td>{{b.MD_CEO_GM_name}}</td>
            <td>{{b.MD_CEO_GM_mobile}}</td>
            <td>{{b.IT_head_name}}</td>
            <td>{{b.IT_head_mobile}}</td>
            <td>{{b.Description}}</td>
            <td>{{b.Contact}}</td>
            <td>{{b.Payment}}</td>
            <td>
              <a class="btn btn-sm btn-primary" href="/bankform/{{b.Id}}"> Edit </a>
              <a class="btn btn-sm btn-danger"> Delete </a>
              
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>
