<div class="row" >
  <div class="col-md-6"><h1> Bank </h1></div>
  <div class="col-md-6" align="right"><a class="btn btn-success btn-md"  routerLink="/bankform"> New Bank </a></div>
</div>
<hr/>
<div class="row" >
<div class="col-md-12">
    
    <img src="./assets/img/loader.gif" *ngIf="dataLoaded==false"/>
    
    <table class="table table-bordered table-hover" *ngIf="dataLoaded==true" id="Bank">
        <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>District</th>
                <th>State</th>
                <th>Pincode</th>
                <th>Telephone</th>
                <th>Actions</th>
              </tr>
        </thead> 
        <tbody>
          <tr *ngFor="let b of banks">
            <td>{{b.Id}}</td>
            <td>{{b.Name}}</td>
            <td>{{b.Address}}</td>
            <td>{{b.City}}</td>
            <td>{{b.District}}</td>
            <td>{{b.State}}</td>
            <td>{{b.Pincode}}</td>
            <td>{{b.Telephone}}</td>
            <td>
              <a class="btn btn-sm btn-primary" href="/bankform/{{b.Id}}"> View Details </a>              
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>
