<h1>View Details </h1>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Technology Details</h5>
    <form (ngSubmit)="onSubmit" #TechnologyMarksForm="ngForm">  
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
            <label for="Branches"> Number of branches of the banks </label>
         </div>
      </div>
         <div class="col-md-5">
            <div class="form-group">
                <input type="number" class="form-control" id="Branches"
                required
                value= {{techdetails.Branches}} name="Branches" 
                readonly/>
             </div>
            </div>
             <div class="col-md-2">
                <div class="form-group">
                   <input type="number" class="form-control" [(ngModel)]="techdetails.M1" name="M1" #M1="ngModel" placeholder="marks"/>
                 </div>
           </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
            <label for="CBSImplanted">CBS Implanted</label>
         </div>
      </div>
         <div class="col-md-5">
            <div class="form-group">
              <div *ngIf="techdetails.CBSImplanted === true;then template1 else template2"></div>
              <ng-template #template1>
                  <input type="text" class="form-control" id="CBSImplanted"
                  name="CBSImplanted" value="Yes" readonly>
              </ng-template>
              <ng-template #template2>
                  <input type="text" class="form-control" id="CBSImplanted"
                  name="CBSImplanted" value="No" readonly>
              </ng-template>
             </div>
            </div>
             <div class="col-md-2">
                <div class="form-group">
                   <input type="number" class="form-control" [(ngModel)]="techdetails.M2" name="M2" #M2="ngModel" placeholder="marks"/>
                 </div>
           </div>
    </div>
    <div class="row">
        <div class="col-md-5">
          <div class="form-group">
              <label for=" CBSCompletionDate">Date on which  CBS Completed</label>
           </div>
        </div>
           <div class="col-md-5">
              <div class="form-group">
                <input type="text" class="form-control" id="CBSCompletionDate "
                required
                [(ngModel)]="techdetails.CBSCompletionDate" name="CBSCompletionDate "
                type="date" #CBSCompletionDate="ngModel" readonly>
               </div>
              </div>
               <div class="col-md-2">
                  <div class="form-group">
                     <input type="number" class="form-control" [(ngModel)]="techdetails.M3" name="M3" #M3="ngModel" placeholder="marks"/>
                   </div>
             </div>
      </div>

      <div class="row">
          <div class="col-md-5">
            <div class="form-group">
                <label for=" SMSFacility">Whether SMS Facility is in place </label>
             </div>
          </div>
             <div class="col-md-5">
                <div class="form-group">
                    <div *ngIf="techdetails.SMSFacility === true;then template1 else template2"></div>
                    <ng-template #template1>
                        <input type="text" class="form-control" id="SMSFacility"
                        name="SMSFacility" value="Yes" readonly>
                    </ng-template>
                    <ng-template #template2>
                        <input type="text" class="form-control" id="SMSFacility"
                        name="SMSFacility" value="No" readonly>
                    </ng-template>
                 </div>
                </div>
                 <div class="col-md-2">
                    <div class="form-group">
                       <input type="text" class="form-control" [(ngModel)]="techdetails.M4" name="M4" #M4="ngModel" placeholder="marks"/>
                     </div>
               </div>
        </div>

        <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                  <label for="DCOwnedBy"> Whether Data Centre Owned By bank </label>
               </div>
            </div>
               <div class="col-md-5">
                  <div class="form-group">
                      <div *ngIf="techdetails.DCOwnedBy === true;then template1 else template2"></div>
                      <ng-template #template1>
                          <input type="text" class="form-control" id="DCOwnedBy"
                          name="DCOwnedBy" value="Yes" readonly>
                      </ng-template>
                      <ng-template #template2>
                          <input type="text" class="form-control" id="DCOwnedBy"
                          name="DCOwnedBy" value="No" readonly>
                      </ng-template>
                   </div>
                  </div>
                   <div class="col-md-2">
                      <div class="form-group">
                         <input type="text" class="form-control" [(ngModel)]="techdetails.M5" name="M5" #M5="ngModel" placeholder="marks"/>
                       </div>
                 </div>
          </div>

          <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                    <label for=" DCHostedAtIsp"> Data Centre is  Hosted At ISP </label>
                 </div>
              </div>
                 <div class="col-md-5">
                    <div class="form-group">
                        <div *ngIf="techdetails.DCHostedAtIsp === true;then template1 else template2"></div>
                      <ng-template #template1>
                          <input type="text" class="form-control" id="DCHostedAtIsp"
                          name="DCHostedAtIsp" value="Yes" readonly>
                      </ng-template>
                      <ng-template #template2>
                          <input type="text" class="form-control" id="DCHostedAtIsp"
                          name="DCHostedAtIsp" value="No" readonly>
                      </ng-template>
                     </div>
                    </div>
                     <div class="col-md-2">
                        <div class="form-group">
                           <input type="text" class="form-control" [(ngModel)]="techdetails.M6" name="M6" #M6="ngModel" placeholder="marks"/>
                         </div>
                   </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                      <label for="DRSiteInPlace">Whether DR Site  Is In Place  </label>
                   </div>
                </div>
                   <div class="col-md-5">
                      <div class="form-group">
                              <div *ngIf="techdetails.DRSiteInPlace === true;then template1 else template2"></div>
                            <ng-template #template1>
                                <input type="text" class="form-control" id="DRSiteInPlace"
                                name="DRSiteInPlace" value="Yes" readonly>
                            </ng-template>
                            <ng-template #template2>
                                <input type="text" class="form-control" id="DRSiteInPlace"
                                name="DRSiteInPlace" value="No" readonly>
                            </ng-template>
                       </div>
                      </div>
                       <div class="col-md-2">
                          <div class="form-group">
                             <input type="text" class="form-control" [(ngModel)]="techdetails.M7" name="M7" #M7="ngModel" placeholder="marks"/>
                           </div>
                     </div>
              </div>
              <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                        <label for="DRSiteOnSharing">Whether DR Site On Sharing Basis  </label>
                     </div>
                  </div>
                     <div class="col-md-5">
                        <div class="form-group">
                            <div *ngIf="techdetails.DRSiteOnSharing === true;then template1 else template2"></div>
                            <ng-template #template1>
                                <input type="text" class="form-control" id="DRSiteOnSharing"
                                name="DRSiteOnSharing" value="Yes" readonly>
                            </ng-template>
                            <ng-template #template2>
                                <input type="text" class="form-control" id="DRSiteOnSharing"
                                name="DRSiteOnSharing" value="No" readonly>
                            </ng-template>
                         </div>
                        </div>
                         <div class="col-md-2">
                            <div class="form-group">
                               <input type="text" class="form-control" [(ngModel)]="techdetails.M8" name="M8" #M8="ngModel" placeholder="marks"/>
                             </div>
                       </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                          <label for="DRImplemented"> Whether DR Plan Is Implemented </label>
                       </div>
                    </div>
                       <div class="col-md-5">
                          <div class="form-group">
                              <div *ngIf="techdetails.DRImplemented === true;then template1 else template2"></div>
                              <ng-template #template1>
                                  <input type="text" class="form-control" id="DRImplemented"
                                  name="DRImplemented" value="Yes" readonly>
                              </ng-template>
                              <ng-template #template2>
                                  <input type="text" class="form-control" id="DRImplemented"
                                  name="DRImplemented" value="No" readonly>
                              </ng-template>
                           </div>
                          </div>
                           <div class="col-md-2">
                              <div class="form-group">
                                 <input type="text" class="form-control" [(ngModel)]="techdetails.M9" name="M9" #M9="ngModel" placeholder="marks"/>
                               </div>
                         </div>
                  </div>
                  <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                            <label for="DRSiteInSeismicZone "> DR Site In  Different Seismic Zone </label>
                         </div>
                      </div>
                         <div class="col-md-5">
                            <div class="form-group">
                                <div *ngIf="techdetails.DRSiteInSeismicZone === true;then template1 else template2"></div>
                                <ng-template #template1>
                                    <input type="text" class="form-control" id="DRSiteInSeismicZone"
                                    name="DRSiteInSeismicZone" value="Yes" readonly>
                                </ng-template>
                                <ng-template #template2>
                                    <input type="text" class="form-control" id="DRSiteInSeismicZone"
                                    name="DRSiteInSeismicZone" value="No" readonly>
                                </ng-template>
                             </div>
                            </div>
                             <div class="col-md-2">
                                <div class="form-group">
                                   <input type="text" class="form-control" [(ngModel)]="techdetails.M10" name="M10" #M10="ngModel" placeholder="marks"/>
                                 </div>
                           </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                          <div class="form-group">
                              <label for="ProvisionInDisaster">  Whether There Is Standard Operating Procedure In Case Disaster </label>
                           </div>
                        </div>
                           <div class="col-md-5">
                              <div class="form-group">
                                <input type="text" class="form-control" id=" ProvisionInDisastere"
                                required
                                [(ngModel)]="techdetails.ProvisionInDisaster" name="ProvisionInDisaster"
                                #ProvisionInDisaster="ngModel" readonly/>
                               </div>
                              </div>
                               <div class="col-md-2">
                                  <div class="form-group">
                                     <input type="text" class="form-control" [(ngModel)]="techdetails.M11" name="M11" #M11="ngModel" placeholder="marks"/>
                                   </div>
                             </div>
                      </div>
                      <div class="row">
                          <div class="col-md-5">
                            <div class="form-group">
                                <label for="BackupInCaseDisaster"> Please inform the sequence of events neccessary to prepare the backup site if disaster take place[Not more than 100 words] </label>
                             </div>
                          </div>
                             <div class="col-md-5">
                                <div class="form-group">
                                  <input type="text" class="form-control" id=" BackupInCaseDisaster"
                                  required
                                  [(ngModel)]="techdetails.BackupInCaseDisaster" name="BackupInCaseDisaster"
                                  #BackupInCaseDisaster="ngModel" readonly/>
                                 </div>
                                </div>
                                 <div class="col-md-2">
                                    <div class="form-group">
                                       <input type="text" class="form-control" [(ngModel)]="techdetails.M12" name="M12" #M12="ngModel" placeholder="marks"/>
                                     </div>
                               </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                              <div class="form-group">
                                  <label for="PaymentGatewayServices">Whether the bank  is providing Payment Gateway Services like POS , NetBanking ,E-commerce, utility bill payments etc ...? If yes ..please mention list of services..  </label>
                               </div>
                            </div>
                               <div class="col-md-5">
                                  <div class="form-group">
                                    <input type="text" class="form-control" id=" PaymentGatewayServices"
                                    required
                                    [(ngModel)]="techdetails.PaymentGatewayServices" name=" PaymentGatewayServices"
                                    #PaymentGatewayServices="ngModel" readonly>
                                   </div>
                                  </div>
                                   <div class="col-md-2">
                                      <div class="form-group">
                                         <input type="text" class="form-control" [(ngModel)]="techdetails.M13" name="M13" #M13="ngModel" placeholder="marks"/>
                                       </div>
                                 </div>
                          </div>
                          <div class="row">
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label for=" CondDRDrillsFreq"> Does your bank conducts DR drills and with what frequency</label>                                  
                                 </div>
                              </div>
                                 <div class="col-md-5">
                                    <div class="form-group">
                                      <input type="text" class="form-control" id=" CondDRDrillsFreq"
                                      required
                                      [(ngModel)]="techdetails.CondDRDrillsFreq" name=" CondDRDrillsFreq"
                                      #CondDRDrillsFreq="ngModel" readonly>
                                     </div>
                                    </div>
                                     <div class="col-md-2">
                                        <div class="form-group">
                                           <input type="text" class="form-control" [(ngModel)]="techdetails.M14" name="M14" #M14="ngModel" placeholder="marks"/>
                                         </div>
                                   </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <div class="form-group">
                                    <label for=" ITStrategyPolicyDoc">Whether  you have "IT" strategy and policy duly documented ?</label>                                   
                                   </div>
                                </div>
                                   <div class="col-md-5">
                                      <div class="form-group">
                                        <input type="text" class="form-control" id=" ITStrategyPolicyDoc"
                                        required
                                        [(ngModel)]="techdetails.ITStrategyPolicyDoc" name=" ITStrategyPolicyDoc"
                                        #ITStrategyPolicyDoc="ngModel" readonly>
                                       </div>
                                      </div>
                                       <div class="col-md-2">
                                          <div class="form-group">
                                             <input type="text" class="form-control" [(ngModel)]="techdetails.M15" name="M15" #M1="ngModel" placeholder="marks"/>
                                           </div>
                                     </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-5">
                                    <div class="form-group">
                                      <label for="CommiteeITBoardMeetFreq"> Do you have "IT" commitee of the board ? How often it meets</label>
                                      
                                     </div>
                                  </div>
                                     <div class="col-md-5">
                                        <div class="form-group">
                                          <input type="text" class="form-control" id=" CommiteeITBoardMeetFreq"
                                          required
                                          [(ngModel)]="techdetails.CommiteeITBoardMeetFreq" name="CommiteeITBoardMeetFreq"
                                          #CommiteeITBoardMeetFreq="ngModel" readonly>
                       
                                         </div>
                                        </div>
                                         <div class="col-md-2">
                                            <div class="form-group">
                                               <input type="text" class="form-control" [(ngModel)]="techdetails.M16" name="M16" #M16="ngModel" placeholder="marks"/>
                                             </div>
                                       </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                      <div class="form-group">
                                        <label for="ConductionITSystemAudit"> Does your bank Conduct "IT" or "Systems Audit" ? When was such audit done?</label>
                                        
                                       </div>
                                    </div>
                                       <div class="col-md-5">
                                          <div class="form-group">
                                            <input type="text" class="form-control" id="ConductionITSystemAudit"
                                            required
                                            value = {{techdetails.ConductionITSystemAudit}} name="ConductionITSystemAudit" readonly/>
                                           </div>
                                          </div>
                                           <div class="col-md-2">
                                              <div class="form-group">
                                                 <input type="text" class="form-control" [(ngModel)]="techdetails.M17" name="M17" #M17="ngModel" placeholder="marks"/>
                                               </div>
                                         </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-5">
                                        <div class="form-group">
                                          <label for="AuditCompletionDate">Audit Completion Date</label>
          
                                         </div>
                                      </div>
                                         <div class="col-md-5">
                                            <div class="form-group">
                                              <input type="date" class="form-control" id="AuditCompletionDate"
                                              required
                                              value= {{techdetails.AuditCompletionDate}} name="AuditCompletionDate" readonly/>
                                             </div>
                                            </div>
                                             <div class="col-md-2">
                                                <div class="form-group">
                                                   <input type="text" class="form-control" [(ngModel)]="techdetails.M18" name="M18" #M18="ngModel" placeholder="marks"/>
                                                 </div>
                                           </div>
                                    </div>
                                  <div class="row">
                                    <div class="col-md-5">
                                      <div class="form-group">
                                        <label for=" OutSourcedServices">What are the out source services for managing your "IT" setup?</label>
                                      </div>
                                    </div>
                                       <div class="col-md-5">
                                          <div class="form-group">
                                            <input type="text" class="form-control" id=" OutSourcedServices"
                                            required
                                            value = {{techdetails.OutSourcedServices}} name=" OutSourcedServices" readonly/>
                                           </div>
                                          </div>
                                           <div class="col-md-2">
                                              <div class="form-group">
                                                 <input type="text" class="form-control" [(ngModel)]="techdetails.M19" name="M19" #M19="ngModel" placeholder="marks"/>
                                               </div>
                                         </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-5">
                                      <div class="form-group">
                                        <label for=" ServicesCustomerDueCBS "> Give briefly the list of Services/Facilities provided to customer due to CBS</label>
                                       </div>
                                    </div>
                                       <div class="col-md-5">
                                          <div class="form-group">
                                            <input type="text" class="form-control" id=" ServicesCustomerDueCBS"
                                            required
                                            value = {{techdetails.ServicesCustomerDueCBS}} name=" ServicesCustomerDueCBS" readonly/>
                                           </div>
                                          </div>
                                           <div class="col-md-2">
                                              <div class="form-group">
                                                 <input type="text" class="form-control" [(ngModel)]="techdetails.M20" name="M20" #M20="ngModel" placeholder="marks"/>
                                               </div>
                                         </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-5">
                                      <div class="form-group">
                                        <label for=" ATM_ConnectedNFSOther"> Whether you have "ATM" and whether it is connected to NFS or otherwise</label>
                                      </div>
                                    </div>
                                       <div class="col-md-5">
                                          <div class="form-group">
                                            <input type="text" class="form-control" id=" ATM_ConnectedNFSOther"
                                            required
                                            value = {{techdetails.ATM_ConnectedNFSOther}} name=" ATM_ConnectedNFSOther" readonly/>
                                           </div>
                                          </div>
                                           <div class="col-md-2">
                                              <div class="form-group">
                                                 <input type="text" class="form-control" [(ngModel)]="techdetails.M21" name="M21" #M21="ngModel" placeholder="marks"/>
                                               </div>
                                         </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-5">
                                      <div class="form-group">
                                        <label for=" UptimeITServicesInP ">What is the up time of "IT" services? Please respond in % terms</label>                                       
                                       </div>
                                    </div>
                                       <div class="col-md-5">
                                          <div class="form-group">
                                            <input type="text" class="form-control" id=" UptimeITServicesInP"
                                            required
                                            value = {{techdetails.UptimeITServicesInP}} name=" UptimeITServicesInP" readonly/>
                                           </div>
                                          </div>
                                           <div class="col-md-2">
                                              <div class="form-group">
                                                 <input type="text" class="form-control" [(ngModel)]="techdetails.M22" name="M22" #M22="ngModel" placeholder="marks"/>
                                               </div>
                                         </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-5">
                                      <div class="form-group">
                                        <label for=" ServiceLevelAgreements ">Whether all Service level Agreements in lace and renewed?</label>
                                      </div>
                                    </div>
                                       <div class="col-md-5">
                                          <div class="form-group">
                                            <input type="text" class="form-control" id=" ServiceLevelAgreements"
                                            required
                                            value = {{techdetails.ServiceLevelAgreements}} name=" ServiceLevelAgreements"
                                            readonly/>
                                          </div>
                                          </div>
                                           <div class="col-md-2">
                                              <div class="form-group">
                                                 <input type="text" class="form-control" [(ngModel)]="techdetails.M23" name="M23" #M23="ngModel" placeholder="marks"/>
                                               </div>
                                         </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-5">
                                        <div class="form-group">
                                          <label for="ConductionOfDPE">Conduction Of DPE</label>
                                        </div>
                                      </div>
                                         <div class="col-md-5">
                                            <div class="form-group">
                                              <input type="text" class="form-control" id="ConductionOfDPE"
                                              required
                                              value = {{techdetails.ConductionOfDPE}} name="ConductionOfDPE"
                                              readonly/>
                                            </div>
                                            </div>
                                             <div class="col-md-2">
                                                <div class="form-group">
                                                   <input type="text" class="form-control" [(ngModel)]="techdetails.M24" name="M24" #M24="ngModel" placeholder="marks"/>
                                                 </div>
                                           </div>
                                        </div>
                                  <div class="row">
                                      <div class="col-md-5">
                                        <div class="form-group">
                                          <label for=" OtherInfo ">Any other information that may be fpund necessary of assessment not covered by above questionarie may be given.</label>
                                         </div>
                                      </div>
                                         <div class="col-md-5">
                                            <div class="form-group">
                                              <input type="text" class="form-control" id="OtherInfo"
                                              required
                                              value = {{techdetails.OtherInfo}} name=" OtherInfo"
                                              readonly/>                                             
                                             </div>
                                            </div>
                                             <div class="col-md-2">
                                                <div class="form-group">
                                                   <input type="text" class="form-control" [(ngModel)]="techdetails.M25" name="M25" #M25="ngModel" placeholder="marks"/>
                                                 </div>
                                           </div>
                        </div>   
                        <div class="row">
                          <div class="col-md-10">
                            <button type="submit" class="btn btn-success" [disabled]="!TechnologyMarksForm.form.valid" (click)="save()">Submit</button>
                            <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
                          </div>
                          <div class="col-md-2">
                              <label>Total Marks</label>
                              <div class="form-group">
                                  <input type="text" class="form-control" 
                                  value = "{{techdetails.M1--techdetails.M2
                                    --techdetails.M3--techdetails.M4
                                    --techdetails.M5--techdetails.M6
                                    --techdetails.M7--techdetails.M8
                                    --techdetails.M9--techdetails.M10
                                    --techdetails.M11--techdetails.M12
                                    --techdetails.M13--techdetails.M14
                                    --techdetails.M15--techdetails.M16
                                    --techdetails.M17--techdetails.M18
                                    --techdetails.M19--techdetails.M20
                                    --techdetails.M21--techdetails.M22
                                    --techdetails.M23--techdetails.M24
                                    --techdetails.M25}}" readonly/>
                                </div>
                          </div>
                        </div>     
                        </form>     
</div>
</div>