<div class="row">
  <div class="col-md-6"><h1>Add new PickUp And Drop Details</h1></div>
  <div class="col-md-6" align="right"><a class="btn btn-success btn-md"  routerLink="/pickupanddropform"> Add New Pickup and Drop </a></div>
</div>
<hr/>
<div class="row" >
<div class="col-md-12">
    
    <img src="./assets/img/loader.gif" *ngIf="dataLoaded==false"/>
    
    <table class="table table-bordered table-hover" *ngIf="dataLoaded==true" id="Pick">
        <thead>
              <tr>
                <th>Sr.No.</th>
                
              
                <th>Pick Up Time</th>
                <th>Pick Up Place</th>
                <th>Drop Time</th>
                <th>Drop Place</th>
                <th>Way of transport</th>
              </tr>
        </thead> 
        <tbody>
          <tr *ngFor="let pud of pickupdrop">
            <td>{{pud.Id}}</td>
            <td>{{pud.PickUpTime}}</td>
            <td>{{pud.PickUpPlace}}</td>
            <td>{{pud.DropTime}}</td>
            <td>{{pud.DropPlace}}</td>
            <td>{{pud.Wayoftransport}}</td>
            <td>
              <a class="btn btn-sm btn-primary" href="/pickupdropform/{{pud.Id}}"> Edit </a>
              <button type="button" class="btn btn-sm btn-danger" (click)="delete(pud)">Delete</button>              
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>
