.example-radio-group {
    display: inline-flex;
    flex-direction: column;
    margin-left: 20px
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  