<div class="row">
  <div class="col-md-12">
      <h1>Employee Form</h1>
      <hr/>
      <form (ngSubmit)="onSubmit" #EmployeeForm="ngForm">
          <div class="form-group" *ngIf="employee.Id>0">
              <label for="Id">Id</label>
              <input type="text" class="form-control" id="Id"
                     required
                     [(ngModel)]="employee.Id" name="Id"
                     #Id="ngModel" readonly> 
                <div [hidden]="Id.valid || Id.pristine"
                     class="alert alert-danger">
                  Id is required
                </div>            
            </div>

            
          <div class="form-group">
            <label for="Name">Employee Name</label>
            <input type="text" class="form-control" id="Name"
                   required
                   [(ngModel)]="employee.Name" name="Name" 
                   #Name="ngModel" pattern="[a-zA-Z ]*">
            <div [hidden]="Name.valid || Name.pristine"
                 class="alert alert-danger">
                Name is required
            </div>
          </div>

          <div class="form-group">
            <label for="BankName">Bank Name</label>
            <input type="text" class="form-control" id="BankName"
                   required
                   [(ngModel)]="employee.BankName" name="BankName" 
                   #Name="ngModel" pattern="[a-zA-Z ]*">
            <div [hidden]="BankName.valid || BankName.pristine"
                 class="alert alert-danger">
                 BankName is required
            </div>
          </div>
          <div class="form-group">
            <label for="Gender">Gender:</label>
            <mat-radio-group class="example-radio-group" name="Gender" #Gender="ngModel" [(ngModel)]="employee.Gender">
              <mat-radio-button class="example-radio-button" [value]= true >Male</mat-radio-button>
              <mat-radio-button class="example-radio-button"[value]= false>Female</mat-radio-button>
            </mat-radio-group>
            <div [hidden]="Gender.valid || Gender.pristine"
                 class="alert alert-danger">
                 Gender is required
            </div>
          </div>
          <div class="form-group">
              <label for="Description">Description</label>
              <textarea type="text" class="form-control" id="Description"
                     required
                     [(ngModel)]="employee.Description" name="Description"
                     #Description="ngModel"></textarea>
              <div [hidden]="Description.valid || Description.pristine"
                   class="alert alert-danger">
                   Description is required
              </div>
            </div>
            <div class="form-group">
              <label for="Contact">Contact</label>
              <input type="number" class="form-control" id="Contact"
                     required
                     [(ngModel)]="employee.Contact" name="Contact"
                     #Contact="ngModel"  pattern="[7-9]{1}[0-9]{9}" digits/>
              <div [hidden]="Contact.valid || Contact.pristine"
                   class="alert alert-danger">
                   Contact is required (enter only numbers)
              </div>
            
            </div>
            <div class="form-group">
              <label for="EmployeeNumber">Employee Number</label>
              <input type="number" class="form-control" id="EmployeeNumber"
                     required
                     [(ngModel)]="employee.EmployeeNumber" name="EmpNumber"
                     #EmpNumber="ngModel" digits/>
              <div [hidden]="EmpNumber.valid || EmpNumber.pristine"
                   class="alert alert-danger">
                   Employee Number is required
              </div>
            </div>
            <div class="form-group">
              <label for="IDProof">Aadhar card number:</label>
              <input type="text" class="form-control" id="IDProof"
                     required
                     [(ngModel)]="employee.IDProof" name="IDProof"
                     #IDProof="ngModel"/>
              <div [hidden]="IDProof.valid || IDProof.pristine"
                   class="alert alert-danger">
                   IDProof is required
              </div>
            </div>
            <div class="form-group">
              <label for="BankId">Bank</label>
              <select class="form-control" id="Bank"
              required
              [(ngModel)] = "employee.BankId" name = "Bank"
              #Bank="ngModel">
                <option *ngFor="let b of banks" [value]="b.Id">
                  {{b.Name}}
                </option>
              </select>
              <div [hidden]="Bank.valid || Bank.pristine"
                   class="alert alert-danger">
                   Type is required
            </div>
          </div>
          <button type="button" class="btn btn-default" (click)="goBack()">Back</button> 
          <button type="button" class="btn btn-default" href="/nextpickup/{{e.Id}}" (click)="save()">Next</button>
         
         
        </form>
  </div>   
</div>