<div class="row" >
  <div class="col-md-6"><h1> Events </h1></div>
  <div class="col-md-6" align="right"><a class="btn btn-success btn-md"  routerLink="/eventform/0"> New Event </a></div>
</div>
<hr/>
<div class="row" >
<div class="col-md-12">
    
    <img class = "centered" src="./assets/img/loader.gif" *ngIf="dataLoaded==false"/>
    
    <table class="table table-bordered table-hover" *ngIf="dataLoaded==true">
        <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
              </tr>
        </thead> 
        <tbody>
          <tr *ngFor="let e of events">
            <td>{{e.Id}}</td>
            <td>{{e.Name}}</td>
            <td>{{e.Description}}</td>
            <td>{{e.StartDate}}</td>
            <td>{{e.EndDate}}</td>
            <td>
              <a class="btn btn-sm btn-primary" href="/eventform/{{e.Id}}"> Edit </a>
              <a class="btn btn-sm btn-danger" (click)="delete(e.Id)"> Delete </a>
              
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>
