<div class="row" >
  <div class="col-md-6"><h1> Event List </h1></div>
  <div class="col-md-6" align="right"><a class="btn btn-success btn-md"  routerLink="/eventform/0">Add New Event </a></div>
</div>
<hr/>
<h4>{{link}}</h4>
<div class="row" >
<div class="col-md-12">
    
    <img src="./assets/img/loader.gif" *ngIf="dataLoaded==false"/>
    
    <table class="table table-bordered table-hover" *ngIf="dataLoaded==true" id="table_events">
        <thead>
              <tr>
                <th>Sr.No.</th>
                <th>Name</th>
                <th>Details</th>
                <th> Event Id</th>
                <th> Event Name</th>
                <th> Event Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
              </tr>
        </thead> 
        <tbody>
          <tr *ngFor="let e of events">
            <td>{{e.Id}}</td>
            <td>{{e.Name}}</td>
            <td>{{e.Description}}</td>
            <td>{{e.StartDate}}</td>
            <td>{{e.EndDate}}</td>
            <td>
              <a class="btn btn-sm btn-primary" href="/eventform/{{e.Id}}"> Edit </a>
              <button type="button" class="btn btn-sm btn-danger" (click)="delete(e)">Delete</button>
              <a class="btn btn-sm btn-success" (click)="createLink(e)"> Generate Link </a>
              <a class="btn  btn-sm btn-info" href="/viewresult/{{e.Id}}/{{e.Name}}">View Result</a>
              <a class="btn  btn-sm btn-info" href="/topbanks/{{e.Id}}">View Analysis</a>
              
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>
