<h1>View Details </h1>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Excellent Performance View</h5>
    <div class="row">
      <div class="col-md-5">
          <div class="form-group">
              <label for=" NetWorthPreviousYrInPercentage "> Net Worth Previous Year In Percentage </label>
          </div>
      </div>
      <div class="col-md-5">
          <div class="form-group">
              <input type="number" class="form-control" id=" NetWorthPreviousYrInPercentage "
              required
              [(ngModel)]="excelperfform.NetWorthPreviousYrInPercentage" name="NetWorthPreviousYrInPercentage "
              #NetWorthPreviousYrInPercentage="ngModel" digits>
          </div>
      </div>
      <div class="col-md-2">
          <div class="form-group">
              <input type="number" class="form-control" placeholder="marks"/>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for=" NetWorthCurrentYrInPercentage"> Net Worth Current Year In Percentage</label>               
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <input type="number" class="form-control" id=" NetWorthCurrentYrInPercentage"
                required
                [(ngModel)]="excelperfform. NetWorthCurrentYrInPercentage" name=" NetWorthCurrentYrInPercentage"
                #NetWorthCurrentYrInPercentage="ngModel" digits>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="number" class="form-control" placeholder="marks"/>
            </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-5">
              <div class="form-group">
                  <label for="DepositCurrentYr "> Deposit Current Year</label>                 
              </div>
          </div>
          <div class="col-md-5">
              <div class="form-group">
                  <input type="number" class="form-control" id=" DepositCurrentYr"
                  required
                  [(ngModel)]="excelperfform.DepositCurrentYr" name="DepositCurrentYr "
                  #DepositCurrentYr ="ngModel" digits>
              </div>
          </div>
          <div class="col-md-2">
              <div class="form-group">
                  <input type="number" class="form-control" placeholder="marks"/>
              </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="DepositPreviousYr "> Deposit Previous Year</label>                   
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <input type="number" class="form-control" id=" DepositPreviousYr"
                    required
                    [(ngModel)]="excelperfform.DepositPreviousYr" name="DepositPreviousYr"
                    #DepositPreviousYr="ngModel" digits>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="marks"/>
                </div>
            </div>
          </div>
  
          <div class="row">
              <div class="col-md-5">
                  <div class="form-group">
                      <label for=" TotalDepositOverPreviousYrInPercentage ">  Total Deposit Over Previous Year In Percentage</label>                    
                  </div>
              </div>
              <div class="col-md-5">
                  <div class="form-group">
                      <input type="number" class="form-control" id="TotalDepositOverPreviousYrInPercentage"
                      required
                      [(ngModel)]="excelperfform.  TotalDepositOverPreviousYrInPercentage" name=" TotalDepositOverPreviousYrInPercentage "
                      #TotalDepositOverPreviousYrInPercentage="ngModel" digits>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group">
                      <input type="number" class="form-control" placeholder="marks"/>
                  </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for=" TotalAdvancesCurrentYr ">  Total Advances Current Year</label>
                        
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="number" class="form-control" id="  TotalAdvancesCurrentYr"
                        required
                        [(ngModel)]="excelperfform. TotalAdvancesCurrentYr" name=" TotalAdvancesCurrentYr "
                        #TotalAdvancesCurrentYr="ngModel" digits>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="marks"/>
                    </div>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-5">
                      <div class="form-group">
                        <label for=" TotalAdvancesPreviousYr"> Total Advances Previous Year</label>
                        
                  </div>
                  <div class="col-md-5">
                      <div class="form-group">
                        <input type="number" class="form-control" id=" TotalAdvancesPreviousYr"
                        required
                        [(ngModel)]="excelperfform. TotalAdvancesPreviousYr" name=" TotalAdvancesPreviousYr "
                        #TotalAdvancesPreviousYr="ngModel" digits>
               </div>
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="form-group">
                          <input type="number" class="form-control" placeholder="marks"/>
                      </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for=" TotalAdvancesOverPreviousYrInPercentage "> Total Advances Over Previous Year In Percentage</label>                            
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="number" class="form-control" id=" TotalAdvancesOverPreviousYrInPercentage"
                            required
                            [(ngModel)]="excelperfform. TotalAdvancesOverPreviousYrInPercentage" name="TotalAdvancesOverPreviousYrInPercentage "
                            #TotalAdvancesOverPreviousYrInPercentage="ngModel" digits>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="marks"/>
                        </div>
                    </div>
                  </div>

                  <div class="row">
                      <div class="col-md-5">
                          <div class="form-group">
                            <label for="  GrossNPAInCurrentYr ">  Gross NPA In Current Year</label>
                            
                          </div>
                      </div>
                      <div class="col-md-5">
                          <div class="form-group">
                            <input type="number" class="form-control" id=" GrossNPAInCurrentYr"
                            required
                            [(ngModel)]="excelperfform. GrossNPAInCurrentYr" name=" GrossNPAInCurrentYr "
                            #GrossNPAInCurrentYr="ngModel" digits>
                          </div>
                      </div>
                      <div class="col-md-2">
                          <div class="form-group">
                              <input type="number" class="form-control" placeholder="marks"/>
                          </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for=" GrossNPAInPreviousYr ">Gross NPA In Previous Year </label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="GrossNPAInPreviousYr"
                                required
                                [(ngModel)]="excelperfform.GrossNPAInPreviousYr" name="GrossNPAInPreviousYr "
                                #GrossNPAInPreviousYr="ngModel" digits>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for=" TotalGrossNPAOverPreviousYrInPercentage ">Total Gross NPA Over Previous Year In Percentage </label>
                               
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="TotalGrossNPAOverPreviousYrInPercentage"
                                required
                                [(ngModel)]="excelperfform.TotalGrossNPAOverPreviousYrInPercentage" name="TotalGrossNPAOverPreviousYrInPercentage "
                                #TotalGrossNPAOverPreviousYrInPercentage="ngModel" digits>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for=" NetNPACurrentYr "> Net NPA Current Year</label>
                               
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="NetNPACurrentYr"
                                required
                                [(ngModel)]="excelperfform.NetNPACurrentYr" name="NetNPACurrentYr "
                                #NetNPACurrentYr="ngModel" digits>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="NetNPAPreviousYr  "> Net NPA Previous Year</label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="NetNPAPreviousYr"
                                required
                                [(ngModel)]="excelperfform.NetNPAPreviousYr" name="NetNPAPreviousYr "
                                #NetNPAPreviousYr="ngModel" digits>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="  TotalNetNPAOverPreviousYrInPercentage "> Total Net NPA Over Previous Year In Percentage </label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id=" TotalNetNPAOverPreviousYrInPercentage"
                                required
                                [(ngModel)]="excelperfform. TotalNetNPAOverPreviousYrInPercentage" name="  TotalNetNPAOverPreviousYrInPercentage"
                                #TotalNetNPAOverPreviousYrInPercentage="ngModel" digits>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="ReturnOnAssetsInCurrentYr"> Return On Assets In Current Year </label>
                               
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id=" ReturnOnAssetsInCurrentYr"
                                required
                                [(ngModel)]="excelperfform. ReturnOnAssetsInCurrentYr" name="  ReturnOnAssetsInCurrentYr"
                                #ReturnOnAssetsInCurrentYr="ngModel" digits>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="  ReturnOnAssetsInPerviousYr ">  Return On Assets In Pervious Year</label>
                                
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id=" ReturnOnAssetsInPerviousYr"
                                required
                                [(ngModel)]="excelperfform. ReturnOnAssetsInPerviousYr" name="  ReturnOnAssetsInPerviousYr"
                                #ReturnOnAssetsInPerviousYr="ngModel" digits>
                     </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="  TotalReturnOnAssetsOverPreviousYrInPercentage ">  Total Return On Assets Over Previous Year In Percentage</label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id=" TotalReturnOnAssetsOverPreviousYrInPercentage"
                                required
                                [(ngModel)]="excelperfform. TotalReturnOnAssetsOverPreviousYrInPercentage" name=" TotalReturnOnAssetsOverPreviousYrInPercentage "
                                #TotalReturnOnAssetsOverPreviousYrInPercentage="ngModel" digits>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="PerEmpBusinessCurrentYr  ">Per Employee Business Current Year </label>
                               
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="PerEmpBusinessCurrentYr"
                                required
                                [(ngModel)]="excelperfform.PerEmpBusinessCurrentYr" name="PerEmpBusinessCurrentYr "
                                #PerEmpBusinessCurrentYr="ngModel" digits>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="number"  >Per Employee Business Previous Year</label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="PerEmpBusinessPreviousYr"
                                required
                                [(ngModel)]="excelperfform.PerEmpBusinessPreviousYr" name=" PerEmpBusinessPreviousYr"
                                #PerEmpBusinessPreviousYr="ngModel" digits/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for=" TotalPerEmpBusinessOverPreviousYrInPercentage ">Total Per Employee Business Over Previous Year In Percentage </label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="TotalPerEmpBusinessOverPreviousYrInPercentage"
                                required
                                [(ngModel)]="excelperfform.TotalPerEmpBusinessOverPreviousYrInPercentage" name="TotalPerEmpBusinessOverPreviousYrInPercentage "
                                #TotalPerEmpBusinessOverPreviousYrInPercentage="ngModel" digits>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="  NetProfitToTotalAssetsCurrentYr "> Net Profit To Total Assets Current Year </label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id=" NetProfitToTotalAssetsCurrentYr"
                                required
                                [(ngModel)]="excelperfform. NetProfitToTotalAssetsCurrentYr" name="  NetProfitToTotalAssetsCurrentYr"
                                #NetProfitToTotalAssetsCurrentYr="ngModel" digits>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for=" NetProfitToTotalAssetsPreviousYr  "> Net Profit To Total Assets Previous Year </label>

                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id=" NetProfitToTotalAssetsPreviousYr"
                                required
                                [(ngModel)]="excelperfform. NetProfitToTotalAssetsPreviousYr" name="  NetProfitToTotalAssetsPreviousYr"
                                #NetProfitToTotalAssetsPreviousYr="ngModel" digits>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="TotalNetProfitToTotalAssetsOverPreviousYrInPercentage  ">Total Net Profit To Total Assets Over Previous Year In Percentage </label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="TotalNetProfitToTotalAssetsOverPreviousYrInPercentage"
                                required
                                [(ngModel)]="excelperfform.TotalNetProfitToTotalAssetsOverPreviousYrInPercentage" name="TotalNetProfitToTotalAssetsOverPreviousYrInPercentage "
                                #TotalNetProfitToTotalAssetsOverPreviousYrInPercentage="ngModel" digits>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="CRROrSLROccuredDuringCurrentYr  "> Whether CRR/SLR default ocurred During Current Year</label>                              
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="CRROrSLROccuredDuringCurrentYr"
                                required
                                [(ngModel)]="excelperfform.CRROrSLROccuredDuringCurrentYr" name="CRROrSLROccuredDuringCurrentYr "
                                #CRROrSLROccuredDuringCurrentYr="ngModel">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="  RBIImposeAnyPenaltyDuringCurrentYr ">  RBI Impose Any Penalty During Current Year</label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id=" RBIImposeAnyPenaltyDuringCurrentYr"
                                required
                                [(ngModel)]="excelperfform. RBIImposeAnyPenaltyDuringCurrentYr" name=" RBIImposeAnyPenaltyDuringCurrentYr "
                                #RBIImposeAnyPenaltyDuringCurrentYr="ngModel">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for=" ShowcaseNotice  "> Whether RBI issued showcase notice/letter or imposed any restriction on Bank or issued any letter of displeasure during current year </label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id=" ShowcaseNotice"
                                required
                                [(ngModel)]="excelperfform. ShowcaseNotice" name=" ShowcaseNotice "
                                #ShowcaseNotice="ngModel">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for=" EnquiryByRBI_IncomeTax "> Any Enquiry By RBI or Income Tax authorities in respect of cancelled notes during or after demonitisation  </label>
                               
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="EnquiryByRBI_IncomeTax"
                                required
                                [(ngModel)]="excelperfform.EnquiryByRBI_IncomeTax" name=" EnquiryByRBI_IncomeTax"
                                #EnquiryByRBI_IncomeTax="ngModel">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for=" UPIorCKYCImplemented  ">Whether UPI or CKYC Implemented</label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id= "UPIorCKYCImplemented"
                                required
                                [(ngModel)]="excelperfform. UPIorCKYCImplemented" name=" UPIorCKYCImplemented "
                                #UPIorCKYCImplemented ="ngModel">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="KYCImplementationWithAML  ">How effectively KYC is Implemented along  With AML activities and transaction monitoring</label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="KYCImplementationWithAML"
                                required
                                [(ngModel)]="excelperfform.KYCImplementationWithAML" name="KYCImplementationWithAML "
                                #KYCImplementationWithAML="ngModel">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="  BorrowerRatings "> How the bank implements internal control and whether it has borrower rating system
                                    for determining interest rates to large borrowers. </label>
                                 
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id=" BorrowerRatings"
                                required
                                [(ngModel)]="excelperfform.BorrowerRatings" name=" BorrowerRatings "
                                #BorrowerRatings="ngModel">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="PermissionToOpenBranchesInPreviousYr  ">Whether bank has  beeb granted permission to open branches in previous year</label>
                               
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="PermissionToOpenBranchesInPreviousYr"
                                required
                                [(ngModel)]="excelperfform.PermissionToOpenBranchesInPreviousYr" name="PermissionToOpenBranchesInPreviousYr "
                                #PermissionToOpenBranchesInPreviousYr="ngModel">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>
          
                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="  UniqueIdToCustomer "> Whether Unique Identification number given to customer</label>
                               
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id=" UniqueIdToCustomer"
                                required
                                [(ngModel)]="excelperfform.UniqueIdToCustomer" name=" UniqueIdToCustomer "
                                #UniqueIdToCustomer="ngModel">  
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="GotAnyAward  ">Whether bank has been conferred with/got any award in year by any authorities or organisation</label>                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="GotAnyAward"
                                required
                                [(ngModel)]="excelperfform.GotAnyAward" name="GotAnyAward"
                                #GotAnyAward="ngModel">
                        </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="  NetOrMobileBankingFacility ">Whether net or mobile banking facility is given by bank </label>
                               
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id=" NetOrMobileBankingFacility"
                                required
                                [(ngModel)]="excelperfform.NetOrMobileBankingFacility" name=" NetOrMobileBankingFacility "
                                #NetOrMobileBankingFacility="ngModel">
                        </div>
                    </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="marks"/>
                            </div>
                        </div>
                      </div> 

                     


  </div>
</div>