<h1>Evaluation</h1>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Excellent Performance</h5>
    <form (ngSubmit)="onSubmit" #FinancialMarksForm="ngForm">
    <div class="row">
      <div class="col-md-5">
          <div class="form-group">
              <label for="NetWorthCYP"> Net Worth Current Year In Percentage </label>
          </div>
      </div>
      <div class="col-md-5">
          <div class="form-group">
              <input type="text" class="form-control" id="NetWorthPreviousYrInPercentage"
              required
              value= {{excellentperformance.NetWorthCYP}} name="NetWorthPreviousYrInPercentage "
              readonly>
          </div>
      </div>
      <div class="col-md-2">
          <div class="form-group">
              <input type="number" class="form-control" [(ngModel)]="excellentperformance.M1" name="M1" #M1="ngModel" placeholder="marks"/>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="NetWorthPYP"> Net Worth Previous Year In Percentage</label>               
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <input type="text" class="form-control" id="NetWorthPYP"
                required
                value= {{excellentperformance.NetWorthPYP}} name="NetWorthPYP"
                readonly>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M2" name="M2" #M2="ngModel" placeholder="marks"/>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="NetWorthOverPYP"> Net Worth Over Previous Year In Percentage</label>               
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <input type="text" class="form-control" id="NetWorthOverPYP"
                required
                value= {{excellentperformance.NetWorthOverPYP}} name="NetWorthOverPYP"
                readonly>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M3" name="M3" #M3="ngModel" placeholder="marks"/>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="CRAR_CYP"> CRAR Current Year In Percentage</label>               
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <input type="text" class="form-control" id="CRAR_CYP"
                required
                value= {{excellentperformance.CRAR_CYP}} name="CRAR_CYP"
                readonly>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M4" name="M4" #M4="ngModel" placeholder="marks"/>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label for="CRAR_PYP"> CRAR Previous Year In Percentage</label>               
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <input type="text" class="form-control" id="CRAR_PYP"
                required
                value= {{excellentperformance.CRAR_PYP}} name="CRAR_PYP"
                readonly>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M5" name="M5" #M5="ngModel" placeholder="marks"/>
            </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-5">
              <div class="form-group">
                  <label for="DepositCY"> Deposit Current Year</label>                 
              </div>
          </div>
          <div class="col-md-5">
              <div class="form-group">
                  <input type="number" class="form-control" id="DepositCY"
                  required
                  value= {{excellentperformance.DepositCY}} name="DepositCY"
                  readonly>
              </div>
          </div>
          <div class="col-md-2">
              <div class="form-group">
                  <input type="number" class="form-control" [(ngModel)]="excellentperformance.M6" name="M6" #M6="ngModel"placeholder="marks"/>
              </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="DepositPY"> Deposit Previous Year</label>                   
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <input type="number" class="form-control" id="DepositPY"
                    required
                    value= {{excellentperformance.DepositPY}} name="DepositPY"
                    readonly>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="number" class="form-control" [(ngModel)]="excellentperformance.M7" name="M7" #M7="ngModel" placeholder="marks"/>
                </div>
            </div>
          </div>
  
          <div class="row">
              <div class="col-md-5">
                  <div class="form-group">
                      <label for="TDepositOverPYP">  Total Deposit Over Previous Year In Percentage</label>                    
                  </div>
              </div>
              <div class="col-md-5">
                  <div class="form-group">
                      <input type="text" class="form-control" id="TDepositOverPYP"
                      required
                      value= {{excellentperformance.TDepositOverPYP}} name="TDepositOverPYP"
                      readonly>
                  </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group">
                      <input type="number" class="form-control" [(ngModel)]="excellentperformance.M8" name="M8" #M8="ngModel" placeholder="marks"/>
                  </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="TAdvancesCY">  Total Advances Current Year</label>
                        
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <input type="number" class="form-control" id="TAdvancesCY"
                        required
                        value= {{excellentperformance.TAdvancesCY}} name="TAdvancesCY"
                        readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="number" class="form-control" [(ngModel)]="excellentperformance.M9" name="M9" #M9="ngModel" placeholder="marks"/>
                    </div>
                </div>
              </div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="TAdvancesPY"> Total Advances Previous Year </label>                            
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="number" class="form-control" id="TAdvancesPY"
                            required
                            value= {{excellentperformance.TAdvancesPY}} name="TAdvancesPY"
                            readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="number" class="form-control" [(ngModel)]="excellentperformance.M10" name="M10" #M10="ngModel" placeholder="marks"/>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="TAdvancesOverPYP"> Total Advances Over Previous Year In Percentage</label>                            
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" class="form-control" id="TAdvancesOverPYP"
                            required
                            value= {{excellentperformance.TAdvancesOverPYP}} name="TAdvancesOverPYP"
                            readonly>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="number" class="form-control" [(ngModel)]="excellentperformance.M11" name="M11" #M11="ngModel" placeholder="marks"/>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-5">
                          <div class="form-group">
                            <label for="GROSSNPAlnCY">  Gross NPA In Current Year</label>                           
                          </div>
                      </div>
                      <div class="col-md-5">
                          <div class="form-group">
                            <input type="text" class="form-control" id="GROSSNPAlnCY"
                            required
                            value= {{excellentperformance.GROSSNPAlnCY}} name="GROSSNPAlnCY"
                            readonly>
                          </div>
                      </div>
                      <div class="col-md-2">
                          <div class="form-group">
                              <input type="number" class="form-control" [(ngModel)]="excellentperformance.M12" name="M12" #M12="ngModel" placeholder="marks"/>
                          </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="GROSSNPAlnPY">Gross NPA In Previous Year </label>                      
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="GROSSNPAlnPY"
                                required
                                value= {{excellentperformance.GROSSNPAlnPY}} name="GROSSNPAlnPY"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M13" name="M13" #M13="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="TGrossNPAOverPYP">Total Gross NPA Over Previous Year In Percentage </label>          
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="TGrossNPAOverPYP"
                                required
                                value= {{excellentperformance.TGrossNPAOverPYP}} name="TGrossNPAOverPYP"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M14" name="M14" #M14="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="NetNPACY"> Net NPA Current Year</label>                              
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="NetNPACY"
                                required
                                value= {{excellentperformance.NetNPACY}} name="NetNPACY"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M15" name="M15" #M15="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="NetNPAPY"> Net NPA Previous Year</label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="NetNPAPY"
                                required
                                value= {{excellentperformance.NetNPAPY}} name="NetNPAPY"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M16" name="M16" #M16="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="TNetNPAOverPYP"> Total Net NPA Over Previous Year In Percentage </label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="TNetNPAOverPYP"
                                required
                                value= {{excellentperformance.TNetNPAOverPYP}} name="TNetNPAOverPYP"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M17" name="M17" #M17="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="ReturnOnAssetsInCY"> Return On Assets In Current Year </label>                               
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="ReturnOnAssetsInCY"
                                required
                                value= {{excellentperformance.ReturnOnAssetsInCY}} name="ReturnOnAssetsInCY"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M18" name="M18" #M18="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="ReturnOnAssetsPY">  Return On Assets In Pervious Year</label>                               
                        </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="ReturnOnAssetsPY"
                                required
                                value= {{excellentperformance.ReturnOnAssetsPY}} name="ReturnOnAssetsPY"
                                readonly>                    
                            </div>
                            </div>
                        
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M19" name="M19" #M19="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="TReturnOnAssetsOverPYP">  Total Return On Assets Over Previous Year In Percentage</label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="TReturnOnAssetsOverPYP"
                                required
                                value= {{excellentperformance.TReturnOnAssetsOverPYP}} name="TReturnOnAssetsOverPYP"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M20" name="M20" #M20="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="PerEmpBusinessCY">Per Employee Business Current Year </label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="PerEmpBusinessCY"
                                required
                                value= {{excellentperformance.PerEmpBusinessCY}} name="PerEmpBusinessCY"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M21" name="M21" #M21="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for=" PerEmpBusinessPY">Per Employee Business Previous Year</label>                               
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="PerEmpBusinessPY"
                                required
                                value= {{excellentperformance.PerEmpBusinessPY}} name=" PerEmpBusinessPY"
                                readonly/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M22" name="M22" #M22="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="TPerEmpBusinessOverPYP">Total Per Employee Business Over Previous Year In Percentage </label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="TPerEmpBusinessOverPYP"
                                required
                                value= {{excellentperformance.TPerEmpBusinessOverPYP}} name="TPerEmpBusinessOverPYP"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M23" name="M23" #M23="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="NetProfitToTAssetsCY"> Net Profit To Total Assets Current Year </label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="NetProfitToTAssetsCY"
                                required
                                value= {{excellentperformance.NetProfitToTAssetsCY}} name="NetProfitToTAssetsCY"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M24" name="M24" #M24="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="NetProfitToTAssetsPY"> Net Profit To Total Assets Previous Year </label>

                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="number" class="form-control" id="NetProfitToTAssetsPY"
                                required
                                value= {{excellentperformance.NetProfitToTAssetsPY}} name="NetProfitToTAssetsPY"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M25" name="M25" #M25="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="TNetProfitToTAssetsPY">Total Net Profit To Total Assets Over Previous Year In Percentage </label>
                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="TNetProfitToTAssetsPY"
                                required
                                value= {{excellentperformance.TNetProfitToTAssetsPY}} name="TNetProfitToTAssetsPY"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M26" name="M26" #M26="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="CRROrSLROccuredCY"> Whether CRR/SLR default ocurred During Current Year</label>                              
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="CRROrSLROccuredCY"
                                required
                                value= {{excellentperformance.CRROrSLROccuredCY}} name="CRROrSLROccuredCY"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M27" name="M27" #M27="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="CRROrSLROccuredPY"> Whether CRR/SLR default ocurred During Previous Year</label>                              
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="CRROrSLROccuredPY"
                                required
                                value= {{excellentperformance.CRROrSLROccuredPY}} name="CRROrSLROccuredPY"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M28" name="M28" #M28="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="RBIImposePenaltyCY">  RBI Impose Any Penalty During Current Year</label>       
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="RBIImposePenaltyCY"
                                required
                                value= {{excellentperformance.RBIImposePenaltyCY}} name="RBIImposePenaltyCY"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M29" name="M29" #M29="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="RBIImposePenaltyPY">  RBI Impose Any Penalty During Previous Year</label>       
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="RBIImposePenaltyPY"
                                required
                                value= {{excellentperformance.RBIImposePenaltyPY}} name="RBIImposePenaltyPY"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M30" name="M30" #M30="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="ShowcaseNotice"> Whether RBI issued showcase notice/letter or imposed any restriction on Bank or issued any letter of displeasure during current year </label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="ShowcaseNotice"
                                required
                                value= {{excellentperformance.ShowcaseNotice}} name="ShowcaseNotice"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M31" name="M31" #M31="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="EnquiryByRBI_IncomeTax"> Any Enquiry By RBI or Income Tax authorities in respect of cancelled notes during or after demonitisation  </label>
                               
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="EnquiryByRBI_IncomeTax"
                                required
                                value= {{excellentperformance.EnquiryByRBI_IncomeTax}} name="EnquiryByRBI_IncomeTax"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M32" name="M32" #M32="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="UPIorCKYCImplemented">Whether UPI or CKYC Implemented</label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id= "UPIorCKYCImplemented"
                                required
                                value= {{excellentperformance.UPIorCKYCImplemented}} name="UPIorCKYCImplemented"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M33" name="33" #M33="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="KYCWithAML">How effectively KYC is Implemented along  With AML activities and transaction monitoring</label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="KYCWithAML"
                                required
                                value= {{excellentperformance.KYCWithAML}} name="KYCWithAML"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M34" name="M34" #M34="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="BorrowerRatings"> How the bank implements internal control and whether it has borrower rating system
                                    for determining interest rates to large borrowers. </label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="BorrowerRatings"
                                required
                                value= {{excellentperformance.BorrowerRatings}} name="BorrowerRatings"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M35" name="M35" #M35="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="PermissionOpenBranchPY">Whether bank has  beeb granted permission to open branches in previous year</label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="PermissionOpenBranchPY"
                                required
                                value= {{excellentperformance.PermissionOpenBranchPY}} name="PermissionOpenBranchPY"
                                readonly>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M36" name="M36" #M36="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>
          
                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="UniqueIdToCustomer"> Whether Unique Identification number given to customer</label>
                               
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="UniqueIdToCustomer"
                                required
                                value= {{excellentperformance.UniqueIdToCustomer}} name="UniqueIdToCustomer"
                                readonly>  
                        </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M37" name="M37" #M37="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="GotAnyAward">Whether bank has been conferred with/got any award in year by any authorities or organisation</label>                                
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="GotAnyAward"
                                required
                                value= {{excellentperformance.GotAnyAward}} name="GotAnyAward"
                                readonly>
                        </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M38" name="M38" #M38="ngModel" placeholder="marks"/>
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="NetOrMobileBankingFacility">Whether net or mobile banking facility is given by bank </label>
                               
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <input type="text" class="form-control" id="NetOrMobileBankingFacility"
                                required
                                value= {{excellentperformance.NetOrMobileBankingFacility}} name="NetOrMobileBankingFacility"
                                readonly>
                        </div>
                    </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control" [(ngModel)]="excellentperformance.M39" name="M39" #M39="ngModel" placeholder="marks"/>
                            </div>
                            <label>Total Marks</label>
                            <div class="form-group">
                                <input type="text" class="form-control" 
                                value = "{{excellentperformance.M1--excellentperformance.M2
                                  --excellentperformance.M3--excellentperformance.M4
                                  --excellentperformance.M5--excellentperformance.M6
                                  --excellentperformance.M7--excellentperformance.M8
                                  --excellentperformance.M9--excellentperformance.M10
                                  --excellentperformance.M11--excellentperformance.M12
                                  --excellentperformance.M13--excellentperformance.M14
                                  --excellentperformance.M15--excellentperformance.M16
                                  --excellentperformance.M17--excellentperformance.M18
                                  --excellentperformance.M19--excellentperformance.M20
                                  --excellentperformance.M21--excellentperformance.M22
                                  --excellentperformance.M23--excellentperformance.M24
                                  --excellentperformance.M25--excellentperformance.M26
                                  --excellentperformance.M27--excellentperformance.M28
                                  --excellentperformance.M29--excellentperformance.M30
                                  --excellentperformance.M31--excellentperformance.M32
                                  --excellentperformance.M33--excellentperformance.M34
                                  --excellentperformance.M35--excellentperformance.M36
                                  --excellentperformance.M37--excellentperformance.M38
                                  --excellentperformance.M39}}" readonly/>
                              </div>
                        </div>
                      </div> 
                      <div class="row">
                        <div class="col-md-10">
                          <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-success" [disabled]="!FinancialMarksForm.form.valid" (click)="save()">Next</button>
                        </div>
                      </div>     
                     
                    </form>

  </div>
</div>