<div class="row" >
  <div class="col-md-6"><h1> Hotels </h1></div>
  <div class="col-md-6" align="right"><a class="btn btn-success btn-md"  routerLink="/hotelform/0"> New Hotel </a></div>
</div>
<hr/>
<div class="row" >
<div class="col-md-12">
    
    <img class = "centered" src="./assets/img/loader.gif" *ngIf="dataLoaded==false"/>
    
    <table class="table table-bordered table-hover" *ngIf="dataLoaded==true" id="#Hotel">
        <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Event Name</th>
                <th>Description</th>
                <th>Location</th>
                <th>Number Of Rooms</th>
                <th>Amount</th>
                <th>Actions</th>
              </tr>
        </thead> 
        <tbody>
          <tr *ngFor="let h of hotels">
            <td>{{h.Id}}</td>
            <td>{{h.Name}}</td>
            <td>{{h.EventName}}</td>
            <td>{{h.Description}}</td>
            <td>{{h.Location}}</td>
            <td>{{h.NumberOfRooms}}</td>
            <td>{{h.Amount}}</td>
            <td>
              <a class="btn btn-sm btn-primary" href="/hotelform/{{h.Id}}"> Edit </a>
              <button type="button" class="btn btn-sm btn-danger" (click)="delete(h)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>

