<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" *ngIf = "testingservice.isAdmin ">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLink="/">
          <a class="nav-link" >Dashboard</a>
        </li>
        <li class="nav-item" routerLink="/events">
          <a class="nav-link" >Events</a>
        </li>
       
        <li class="nav-item" routerLink="/banktype">
            <a class="nav-link" >Bank Types</a>
        </li>
        <li class="nav-item" routerLink="/bank">
          <a class="nav-link" >Bank data</a>
        </li>
        <li class="nav-item" routerLink="/spandgst">
          <a class="nav-link" >Sponsors & Guests</a>
      </li>
        <li class="nav-item" routerLink="/hotel">
          <a class="nav-link" >Hotel</a>
        </li>
        
        <li class="nav-item" routerLink="/income">
          <a class="nav-link" >Income n expenses</a>
        </li>

        <li class="nav-item" routerLink="/employee">
          <a class="nav-link" >employee</a>
        </li>
      
      <li class="nav-item" routerLink="/pickupdrop">
        <a class="nav-link" >Pickup and drop</a>
      </li>

      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLink="/loginapi">
          <a class="nav-link" >Login</a>
       </li>
      </ul>
     </ul>
    </div>
  </nav>

<div class="container" style="margin-top: 5em">
      <router-outlet></router-outlet>
      <app-messages></app-messages>
</div>
