<form (ngSubmit)="onSubmit" #ExcellentPerformanceForm="ngForm">
  <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="NetWorthCYP"> Net Worth Current Year In Percentage </label>
                <input type="text" class="form-control" id="NetWorthCYP"
                      required
                      [(ngModel)]="excellentPerformance.NetWorthCYP" name="NetWorthCYP"
                      #NetWorthCYP="ngModel">
                <div [hidden]="NetWorthCYP.valid ||  NetWorthCYP.pristine"
                    class="alert alert-danger">
                    Net Worth Current Year In Percentage is required
                </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  <label for="NetWorthPYP"> Net Worth Previous Year In Percentage</label>
                  <input type="text" class="form-control" id="NetWorthPYP"
                        required
                        [(ngModel)]="excellentPerformance.NetWorthPYP" name="NetWorthPYP"
                        #NetWorthPYP ="ngModel">
                  <div [hidden]="NetWorthPYP.valid ||  NetWorthPYP.pristine"
                      class="alert alert-danger">
                      Net Worth in Previous Year In Percentage is required
                  </div>
                </div>
          </div>
          <div class="col-md-4">
              <div class="form-group">
                  <label for="NetWorthOverPYP">Net Worth Over Previous Year In Percentage </label>
                  <input type="text" class="form-control" id="NetWorthOverPYP"
                        required
                        [(ngModel)]="excellentPerformance.NetWorthOverPYP" name="NetWorthOverPYP"
                        #NetWorthOverPYP ="ngModel">
                  <div [hidden]="NetWorthOverPYP.valid || NetWorthOverPYP.pristine"
                      class="alert alert-danger">
                      Net Worth Over Previous Year In Percentage is required
                  </div>
                </div>
          </div>        
  </div>
  <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <label for="CRAR_CYP"> CRAR Current Year In Percentage</label>
                        <input type="text" class="form-control" id="CRAR_CYP"
                               required
                               [(ngModel)]="excellentPerformance.CRAR_CYP" name="CRAR_CYP"
                               #CRAR_CYP ="ngModel">
                        <div [hidden]="CRAR_CYP.valid || CRAR_CYP.pristine"
                             class="alert alert-danger">
                             CRAR Current Year In Percentage is required
                        </div>
                      </div>
            </div>    
            <div class="col-md-4">
                <div class="form-group">
                        <label for="CRAR_PYP">CRAR Previous Year In Percentage</label>
                        <input type="text" class="form-control" id="CRAR_PYP"
                               required
                               [(ngModel)]="excellentPerformance.CRAR_PYP" name="CRAR_PYP"
                               #CRAR_PYP ="ngModel">
                        <div [hidden]="CRAR_PYP.valid || CRAR_PYP.pristine"
                             class="alert alert-danger">
                             CRAR Previous Year In Percentage is required
                        </div>
                      </div>
            </div>       
  </div>
  <div class="row">
    <div class="col-md-4">
            <div class="form-group">
                    <label for="DepositCY"> Deposit Current Year</label>
                    <input type="number" class="form-control" id="DepositCY"
                           required
                           [(ngModel)]="excellentPerformance.DepositCY" name="DepositCY"
                           #DepositCY ="ngModel" digits>
                    <div [hidden]="DepositCY.valid || DepositCY.pristine"
                         class="alert alert-danger">
                         Deposit Current Year is required
                    </div>
                  </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="DepositPY"> Deposit Previous Year</label>
                        <input type="number" class="form-control" id=" DepositPY"
                               required
                               [(ngModel)]="excellentPerformance.DepositPY" name="DepositPY"
                               #DepositPY="ngModel" digits>
                        <div [hidden]="DepositPY.valid ||DepositPY.pristine"
                             class="alert alert-danger">
                             Deposit Previous Year is required
                        </div>
                      </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="TDepositOverPYP">  Total Deposit Over Previous Year In Percentage</label>
                        <input type="text" class="form-control" id="TDepositOverPYP"
                               required
                               [(ngModel)]="excellentPerformance.TDepositOverPYP" name="TDepositOverPYP"
                               #TDepositOverPYP="ngModel">
                        <div [hidden]="TDepositOverPYP.valid || TDepositOverPYP.pristine"
                             class="alert alert-danger">
                             Total Deposit Over Previous Year In Percentage is required
                        </div>
                      </div>
            
        </div>
  </div>

  <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <label for="TAdvancesCY">  Total Advances Current Year</label>
                        <input type="number" class="form-control" id="TAdvancesCY"
                               required
                               [(ngModel)]="excellentPerformance.TAdvancesCY" name="TAdvancesCY"
                               #TAdvancesCY="ngModel" digits>
                        <div [hidden]="TAdvancesCY.valid || TAdvancesCY.pristine"
                             class="alert alert-danger">
                             Total Advances Current Year is required
                        </div>
                      </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="TAdvancesPY"> Total Advances Previous Year</label>
                        <input type="number" class="form-control" id="TAdvancesPY"
                               required
                               [(ngModel)]="excellentPerformance.TAdvancesPY" name="TAdvancesPY"
                               #TAdvancesPY="ngModel" digits>
                        <div [hidden]="TAdvancesPY.valid || TAdvancesPY.pristine"
                             class="alert alert-danger">
                             Total Advances Previous Year is required
                        </div>
        </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="TAdvancesOverPYP"> Total Advances Over Previous Year In Percentage</label>
                        <input type="text" class="form-control" id="TAdvancesOverPYP"
                               required
                               [(ngModel)]="excellentPerformance.TAdvancesOverPYP" name="TAdvancesOverPYP"
                               #TAdvancesOverPYP="ngModel">
                        <div [hidden]="TAdvancesOverPYP.valid || TAdvancesOverPYP.pristine"
                             class="alert alert-danger">
                             Total Advances Over Previous Year In Percentage is required
                        </div>
                      </div>
        </div>
  </div>

  <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <label for="GROSSNPAlnCY">  Gross NPA In Current Year</label>
                        <input type="text" class="form-control" id="GROSSNPAlnCY"
                               required
                               [(ngModel)]="excellentPerformance.GROSSNPAlnCY" name="GROSSNPAlnCY"
                               #GROSSNPAlnCY="ngModel">
                        <div [hidden]="GROSSNPAlnCY.valid || GROSSNPAlnCY.pristine"
                             class="alert alert-danger">
                             Gross NPA In Current Year is required
                        </div>
                      </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="GROSSNPAlnPY">Gross NPA In Previous Year </label>
                        <input type="text" class="form-control" id="GROSSNPAlnPY"
                               required
                               [(ngModel)]="excellentPerformance.GROSSNPAlnPY" name="GROSSNPAlnPY"
                               #GROSSNPAlnPY="ngModel">
                        <div [hidden]="GROSSNPAlnPY.valid || GROSSNPAlnPY.pristine"
                             class="alert alert-danger">
                             Gross NPA In Previous Year is required
                        </div>
                      </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="TGrossNPAOverPYP">Total Gross NPA Over Previous Year In Percentage </label>
                        <input type="text" class="form-control" id="TGrossNPAOverPYP"
                               required
                               [(ngModel)]="excellentPerformance.TGrossNPAOverPYP" name="TGrossNPAOverPYP"
                               #TGrossNPAOverPYP="ngModel">
                        <div [hidden]="TGrossNPAOverPYP.valid || TGrossNPAOverPYP.pristine"
                             class="alert alert-danger">
                             Total Gross NPA Over Previous Year In Percentage is required
                        </div>
                      </div>
        </div>
  </div>

  <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <label for="NetNPACY"> Net NPA Current Year</label>
                        <input type="number" class="form-control" id="NetNPACY"
                               required
                               [(ngModel)]="excellentPerformance.NetNPACY" name="NetNPACY"
                               #NetNPACY="ngModel" digits>
                        <div [hidden]="NetNPACY.valid || NetNPACY.pristine"
                             class="alert alert-danger">
                             Net NPA Current Year is required
                        </div>
                      </div>
            
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="NetNPAPY"> Net NPA Previous Year</label>
                        <input type="number" class="form-control" id="NetNPAPY"
                               required
                               [(ngModel)]="excellentPerformance.NetNPAPY" name="NetNPAPY"
                               #NetNPAPY="ngModel" digits>
                        <div [hidden]="NetNPAPY.valid || NetNPAPY.pristine"
                             class="alert alert-danger">
                             Net NPA Previous Year is required
                        </div>
                      </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="TNetNPAOverPYP"> Total Net NPA Over Previous Year In Percentage </label>
                        <input type="text" class="form-control" id="TNetNPAOverPYP"
                               required
                               [(ngModel)]="excellentPerformance.TNetNPAOverPYP" name="TNetNPAOverPYP"
                               #TNetNPAOverPYP="ngModel">
                        <div [hidden]="TNetNPAOverPYP.valid || TNetNPAOverPYP.pristine"
                             class="alert alert-danger">
                             Total Net NPA Over Previous Year In Percentage  is required
                        </div>
                      </div>
        </div>
  </div>

  <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <label for="ReturnOnAssetsInCY"> Return On Assets In Current Year </label>
                        <input type="number" class="form-control" id="ReturnOnAssetsInCY"
                               required
                               [(ngModel)]="excellentPerformance.ReturnOnAssetsInCY" name="ReturnOnAssetsInCY"
                               #ReturnOnAssetsInCY="ngModel" digits>
                        <div [hidden]="ReturnOnAssetsInCY.valid || ReturnOnAssetsInCY.pristine"
                             class="alert alert-danger">
                             Return On Assets In Current Year is required
                        </div>
                      </div>
        </div>

        <div class="col-md-4"><div class="form-group">
                <label for="ReturnOnAssetsPY">  Return On Assets In Pervious Year</label>
                <input type="number" class="form-control" id="ReturnOnAssetsPY"
                       required
                       [(ngModel)]="excellentPerformance.ReturnOnAssetsPY" name="ReturnOnAssetsPY"
                       #ReturnOnAssetsPY="ngModel" digits>
                <div [hidden]="ReturnOnAssetsPY.valid || ReturnOnAssetsPY.pristine"
                     class="alert alert-danger">
                     Return On Assets In Pervious Year is required
                </div>
              </div>
    </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="TReturnOnAssetsOverPYP">  Total Return On Assets Over Previous Year In Percentage</label>
                        <input type="text" class="form-control" id="TReturnOnAssetsOverPYP"
                               required
                               [(ngModel)]="excellentPerformance.TReturnOnAssetsOverPYP" name="TReturnOnAssetsOverPYP"
                               #TReturnOnAssetsOverPYP="ngModel">
                        <div [hidden]="TReturnOnAssetsOverPYP.valid || TReturnOnAssetsOverPYP.pristine"
                             class="alert alert-danger">
                             Total Return On Assets Over Previous Year In Percentage  is required
                        </div>
                      </div>
            
        </div>
  </div>

  <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <label for="PerEmpBusinessCY">Per Employee Business Current Year </label>
                        <input type="number" class="form-control" id="PerEmpBusinessCY"
                               required
                               [(ngModel)]="excellentPerformance.PerEmpBusinessCY" name="PerEmpBusinessCY"
                               #PerEmpBusinessCY="ngModel" digits>
                        <div [hidden]="PerEmpBusinessCY.valid || PerEmpBusinessCY.pristine"
                             class="alert alert-danger">
                             Per Employee Business Current Year is required
                        </div>
                      </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="PerEmpBusinessPY">Per Employee Business Previous Year</label>
                        <input type="number" class="form-control" id="PerEmpBusinessPY"
                               required
                               [(ngModel)]="excellentPerformance.PerEmpBusinessPY" name="PerEmpBusinessPY"
                               #PerEmpBusinessPY="ngModel" digits/>
                        <div [hidden]="PerEmpBusinessPY.valid || PerEmpBusinessPY.pristine"
                             class="alert alert-danger">
                             Per Employee Business Previous Year is required
                        </div>
                      </div>
            
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="TPerEmpBusinessOverPYP">Total Per Employee Business Over Previous Year In Percentage </label>
                        <input type="text" class="form-control" id="TPerEmpBusinessOverPYP"
                               required
                               [(ngModel)]="excellentPerformance.TPerEmpBusinessOverPYP" name="TPerEmpBusinessOverPYP"
                               #TPerEmpBusinessOverPYP="ngModel">
                        <div [hidden]="TPerEmpBusinessOverPYP.valid || TPerEmpBusinessOverPYP.pristine"
                             class="alert alert-danger">
                             Total Per Employee Business Over Previous Year In Percentage is required
                        </div>
                      </div>
        </div>
  </div>

  <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <label for="NetProfitToTAssetsCY"> Net Profit To Total Assets Current Year </label>
                        <input type="number" class="form-control" id="NetProfitToTAssetsCY"
                               required
                               [(ngModel)]="excellentPerformance.NetProfitToTAssetsCY" name="NetProfitToTAssetsCY"
                               #NetProfitToTAssetsCY="ngModel" digits>
                        <div [hidden]="NetProfitToTAssetsCY.valid || NetProfitToTAssetsCY.pristine"
                             class="alert alert-danger">
                             Net Profit To Total Assets Current Year is required
                        </div>
                      </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="NetProfitToTAssetsPY"> Net Profit To Total Assets Previous Year </label>
                        <input type="number" class="form-control" id="NetProfitToTAssetsPY"
                               required
                               [(ngModel)]="excellentPerformance.NetProfitToTAssetsPY" name="NetProfitToTAssetsPY"
                               #NetProfitToTAssetsPY="ngModel" digits>
                        <div [hidden]="NetProfitToTAssetsPY.valid || NetProfitToTAssetsPY.pristine"
                             class="alert alert-danger">
                             Net Profit To Total Assets Previous Year is required
                        </div>
                      </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="TNetProfitToTAssetsPY">Total Net Profit To Total Assets Over Previous Year In Percentage </label>
                        <input type="text" class="form-control" id="TNetProfitToTAssetsPY"
                               required
                               [(ngModel)]="excellentPerformance.TNetProfitToTAssetsPY" name="TNetProfitToTAssetsPY"
                               #TNetProfitToTAssetsPY="ngModel">
                        <div [hidden]="TNetProfitToTAssetsPY.valid || TNetProfitToTAssetsPY.pristine"
                             class="alert alert-danger">
                             Total Net Profit To Total Assets Over Previous Year In Percentage is required
                        </div>
                      </div>
        </div>
  </div>

  <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <label for="CRROrSLROccuredCY"> Whether CRR/SLR default ocurred During Current Year</label>
                        <input type="text" class="form-control" id="CRROrSLROccuredCY"
                               required
                               [(ngModel)]="excellentPerformance.CRROrSLROccuredCY" name="CRROrSLROccuredCY"
                               #CRROrSLROccuredCY="ngModel">
                        <div [hidden]="CRROrSLROccuredCY.valid || CRROrSLROccuredCY.pristine"
                             class="alert alert-danger">
                             CRR Or SLR Occured During Current Year is required
                        </div>
                      </div>
        </div>
        <div class="col-md-4">
                <div class="form-group">
                        <label for="CRROrSLROccuredPY"> Whether CRR/SLR default ocurred During Previous Year</label>
                        <input type="text" class="form-control" id="CRROrSLROccuredPY"
                               required
                               [(ngModel)]="excellentPerformance.CRROrSLROccuredPY" name="CRROrSLROccuredPY"
                               #CRROrSLROccuredPY="ngModel">
                        <div [hidden]="CRROrSLROccuredPY.valid || CRROrSLROccuredPY.pristine"
                             class="alert alert-danger">
                             CRR Or SLR Occured During Previous Year is required
                        </div>
                      </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <label for="RBIImposePenaltyCY ">RBI Impose Any Penalty During Current Year</label>
                        <input type="text" class="form-control" id="RBIImposePenaltyCY"
                               required
                               [(ngModel)]="excellentPerformance.RBIImposePenaltyCY" name="RBIImposePenaltyCY"
                               #RBIImposePenaltyCY="ngModel">
                        <div [hidden]="RBIImposePenaltyCY.valid || RBIImposePenaltyCY.pristine"
                             class="alert alert-danger">
                             RBI Impose Any Penalty During Current Year  is required
                        </div>
                      </div>
        </div>
        <div class="col-md-4">
                <div class="form-group">
                        <label for="RBIImposePenaltyPY">RBI Impose Any Penalty During Previous Year</label>
                        <input type="text" class="form-control" id="RBIImposePenaltyPY"
                               required
                               [(ngModel)]="excellentPerformance.RBIImposePenaltyPY" name="RBIImposePenaltyPY"
                               #RBIImposePenaltyPY="ngModel">
                        <div [hidden]="RBIImposePenaltyPY.valid || RBIImposePenaltyPY.pristine"
                             class="alert alert-danger">
                             RBI Impose Any Penalty During Previous Year is required
                        </div>
                      </div>
        </div>
        <div class="col-md-4">
                <div class="form-group">
                        <label for="ShowcaseNotice"> Whether RBI issued showcase notice/letter or imposed any restriction on Bank or issued any letter of displeasure during current year </label>
                        <input type="text" class="form-control" id="ShowcaseNotice"
                               required
                               [(ngModel)]="excellentPerformance.ShowcaseNotice" name="ShowcaseNotice"
                               #ShowcaseNotice="ngModel">
                        <div [hidden]="ShowcaseNotice.valid || ShowcaseNotice.pristine"
                             class="alert alert-danger">
                             Show case Notice is required
                        </div>
                      </div>
        </div>
  </div>

  <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <label for="EnquiryByRBI_IncomeTax"> Any Enquiry By RBI or Income Tax authorities in respect of cancelled notes during or after demonitisation  </label>
                        <input type="text" class="form-control" id="EnquiryByRBI_IncomeTax"
                               required
                               [(ngModel)]="excellentPerformance.EnquiryByRBI_IncomeTax" name="EnquiryByRBI_IncomeTax"
                               #EnquiryByRBI_IncomeTax="ngModel">
                        <div [hidden]="EnquiryByRBI_IncomeTax.valid || EnquiryByRBI_IncomeTax.pristine"
                             class="alert alert-danger">
                             Enquiry By RBI Income Tax  is required
                        </div>
                      </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="UPIorCKYCImplemented">Whether UPI or CKYC Implemented</label>
                        <input type="text" class="form-control" id= "UPIorCKYCImplemented"
                               required
                               [(ngModel)]="excellentPerformance.UPIorCKYCImplemented" name="UPIorCKYCImplemented "
                               #UPIorCKYCImplemented ="ngModel">
                        <div [hidden]=" UPIorCKYCImplemented.valid || UPIorCKYCImplemented.pristine"
                             class="alert alert-danger">
                             UPI or CKYC Implemented is required
                        </div>
                      </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="KYCWithAML">How effectively KYC is Implemented along  With AML activities and transaction monitoring</label>
                        <input type="text" class="form-control" id="KYCWithAML"
                               required
                               [(ngModel)]="excellentPerformance.KYCWithAML" name="KYCWithAML"
                               #KYCWithAML="ngModel">
                        <div [hidden]="KYCWithAML.valid || KYCWithAML.pristine"
                             class="alert alert-danger">
                             KYC Implementation With AML is required
                        </div>
                      </div>
        </div>
  </div>

  <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <label for="BorrowerRatings"> How the bank implements internal control and whether it has borrower rating system
                          for determining interest rates to large borrowers. </label>
                        <input type="text" class="form-control" id="BorrowerRatings"
                               required
                               [(ngModel)]="excellentPerformance.BorrowerRatings" name=" BorrowerRatings "
                               #BorrowerRatings="ngModel">
                        <div [hidden]=" BorrowerRatings.valid || BorrowerRatings.pristine"
                             class="alert alert-danger">
                             Borrower Ratings  is required
                        </div>
                      </div>
            
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="PermissionOpenBranchPY">Whether bank has  beeb granted permission to open branches in previous year</label>
                        <select type="text" class="form-control" id="PermissionOpenBranchPY"
                               required
                               [(ngModel)]="excellentPerformance.PermissionOpenBranchPY" name="PermissionOpenBranchPY"
                               #PermissionOpenBranchPY="ngModel">
                                <option [value]=true>Yes</option>
                                <option [value]=false>No</option>
                        </select>
                        <div [hidden]="PermissionOpenBranchPY.valid || PermissionOpenBranchPY.pristine"
                             class="alert alert-danger">
                             Permission To Open  Branches In Previous Year is required
                        </div>
                      </div>
            
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="UniqueIdToCustomer"> Whether Unique Identification number given to customer</label>
                        <select type="text" class="form-control" id="UniqueIdToCustomer"
                               required
                               [(ngModel)]="excellentPerformance.UniqueIdToCustomer" name="UniqueIdToCustomer"
                               #UniqueIdToCustomer="ngModel">
                                <option [value]=true>Yes</option>
                                <option [value]=false>No</option>
                        </select>
                        <div [hidden]="UniqueIdToCustomer.valid || UniqueIdToCustomer.pristine"
                             class="alert alert-danger">
                             UniqueIdToCustomer is required
                        </div>
                      </div>
        </div>
  </div>

  <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <label for="GotAnyAward">Whether bank has been conferred with/got any award in year by any authorities or organisation</label>
                        <select type="text" class="form-control" id="GotAnyAward"
                               required
                               [(ngModel)]="excellentPerformance.GotAnyAward" name="GotAnyAward"
                               #GotAnyAward="ngModel">
                               <option [value]=true>Yes</option>
                               <option [value]=false>No</option>
                        </select>
                        <div [hidden]="GotAnyAward.valid ||GotAnyAward.pristine"
                             class="alert alert-danger">
                             GotAnyAward is required
                        </div>
                      </div>
        </div>

        <div class="col-md-4">
                <div class="form-group">
                        <label for="NetOrMobileBankingFacility">Whether net or mobile banking facility is given by bank </label>
                        <select type="text" class="form-control" id="NetOrMobileBankingFacility"
                               required
                               [(ngModel)]="excellentPerformance.NetOrMobileBankingFacility" name="NetOrMobileBankingFacility "
                               #NetOrMobileBankingFacility="ngModel">
                               <option [value]=true>Yes</option>
                               <option [value]=false>No</option>
                        </select>
                        <div [hidden]="NetOrMobileBankingFacility.valid || NetOrMobileBankingFacility.pristine"
                             class="alert alert-danger">
                             Net Or Mobile Banking Facility  is required
                        </div>
                      </div>
                    
        </div>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!ExcellentPerformanceForm.form.valid" (click)="save()">Submit</button>
  <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
</form>