<div class="row" >
  <div class="col-md-6"><h1> Income and Expenses </h1></div>
  <div class="col-md-6" align="right"><a class="btn btn-success btn-md"  routerLink="/incomeform"> Add new </a></div>
  
</div>
<hr/>
<div class="row" >
<div class="col-md-12">
    
    <img src="./assets/img/loader.gif" *ngIf="dataLoaded==false"/>
    
    <table class="table table-bordered table-hover" *ngIf="dataLoaded==true" id="#Income">
        <thead>
              <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Name</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Actions</th>
              </tr>
        </thead> 
        <tbody>
          <tr *ngFor="let i of incomes">
            <td>{{i.Id}}</td>
            <td>{{i.Type}}</td>
            <td>{{i.Name}}</td>
            <td>{{i.Description}}</td>
            <td>{{i.Amount}}</td>
            <td>
              <a class="btn btn-sm btn-primary" href="/incomeform/{{i.Id}}"> Edit </a>
              <button type="button" class="btn btn-sm btn-danger" (click)="delete(i)">Delete</button>
              
            </td>
          </tr>
        </tbody>
      </table>
</div>
</div>
