<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" width="100%" height="400px" src="./assets/img/banco7.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" width="100%" height="400px" src="./assets/img/banco1.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" width="100%" height="400px" src="./assets/img/banco2.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" width="100%" height="400px" src="./assets/img/banco6.jpg" alt="Fourth slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" width="100%" height="400px" src="./assets/img/banco5.jpg" alt="Fifth slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" width="100%" height="400px" src="./assets/img/banco3.jpg" alt="Sixth slide">
    </div>
  </div>
</div>
            
<hr/>

<div class="jumbotron">
    <h1>Banco ERP Portal</h1>
    <p class="lead">March as Monarch Of Banking</p>
    
    <h1>
        {{title}}
      </h1>
<div class="jumbotron" *ngIf="!loginservice.isAdmin">
    <h1>Banco ERP Portal</h1>
    <p class="lead">March as Monarch Of Banking</p>
    <a class="btn btn-lg btn-primary"  routerLink="/loginapi" role="button">Login &raquo;</a>
</div>
<div class="row" *ngIf="loginservice.isAdmin">
    <div class="col-md-6" *ngIf="loginservice.isAdmin">
        <h2>
           Income Chart
         </h2>
         <fusioncharts
             [id]="id"
             [width]="width"
             [height]="height"
             [type]="type"
             [dataFormat]="dataFormat"
             [dataSource]="dataSource1"
         ></fusioncharts>
   </div>
   <div class="col-md-6">
    <h2>
        Expense Chart
      </h2>
      <fusioncharts
          [id]="id"
          [width]="width"
          [height]="height"
          [type]="type"
          [dataFormat]="dataFormat"
          [dataSource]="dataSource2"
      ></fusioncharts>
   </div>
</div>
