<div class="jumbotron" *ngIf="!loginservice.isAdmin">
    <h1>Banco ERP Portal</h1>
    <p class="lead">March as Monarch Of Banking</p>
    <a class="btn btn-lg btn-primary"  routerLink="/loginapi" role="button">Login &raquo;</a>
</div>
<div class="row" *ngIf="loginservice.isAdmin">
    <div class="col-md-6" *ngIf="loginservice.isAdmin">
        <h2>
           Income Chart
         </h2>
         <fusioncharts
             [id]="id"
             [width]="width"
             [height]="height"
             [type]="type"
             [dataFormat]="dataFormat"
             [dataSource]="dataSource1"
         ></fusioncharts>
   </div>
   <div class="col-md-6">
    <h2>
        Expense Chart
      </h2>
      <fusioncharts
          [id]="id"
          [width]="width"
          [height]="height"
          [type]="type"
          [dataFormat]="dataFormat"
          [dataSource]="dataSource2"
      ></fusioncharts>
   </div>
</div>
