<div class="row">
    <div class="col-md-12">
      <h1>Bank Form</h1>
      <hr/>
      <form (ngSubmit)="onSubmit()" #bankForm="ngForm">
          <div class="form-group" *ngIf="bank.Id>0">
              <label for="Id">Id</label>
              <input type="number" class="form-control" id="Id"
                     required
                     [(ngModel)]="bank.Id" name="Id"
                     #Id="ngModel" readonly> 
                <div [hidden]="Id.valid || Id.pristine"
                     class="alert alert-danger">
                  Id is required
                </div>            
            </div>
  
            <div class="form-group">
              <label for="Name">Name</label>
              <input type="text" class="form-control" id="Name"
                     required
                     [(ngModel)]="bank.Name" name="Name"
                     #Name="ngModel">
              <div [hidden]="Name.valid || Name.pristine"
                   class="alert alert-danger">
                   Name is required
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="City">City</label>
                      <input type="text" class="form-control" id="City"
                             required
                             [(ngModel)]="bank.City" name="City"
                             #City="ngModel">
                      <div [hidden]="City.valid || City.pristine"
                           class="alert alert-danger">
                           City is required
                      </div>
                    </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="District">District</label>
                      <input type="text" class="form-control" id="District"
                             required
                             [(ngModel)]="bank.District" name="District"
                             #District="ngModel">
                      <div [hidden]="District.valid || District.pristine"
                           class="alert alert-danger">
                           District is required
                      </div>
                    </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="State">State</label>
                      <input type="text" class="form-control" id="State"
                             required
                             [(ngModel)]="bank.State" name="State"
                             #State="ngModel">
                      <div [hidden]="State.valid || State.pristine"
                           class="alert alert-danger">
                           State is required
                      </div>
                    </div>
              </div>
            </div>
            <div class="form-group">
                <label for="Address">Address</label>
                <textarea type="text" class="form-control" id="Address"
                       required
                       [(ngModel)]="bank.Address" name="Address"
                       rows = "3" #Address="ngModel"></textarea>
                <div [hidden]="Address.valid || Address.pristine"
                     class="alert alert-danger">
                     Address is required
                </div>
              </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="Telephone">Telephone</label>
                        <input type="text" class="form-control" id="Telephone"
                               required
                               [(ngModel)]="bank.Telephone" name="Telephone"
                               #Telephone="ngModel">
                        <div [hidden]="Telephone.valid || Telephone.pristine"
                             class="alert alert-danger">
                             Telephone is required
                        </div>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Pincode">Pincode</label>
                        <input type="text" class="form-control" id="Pincode"
                               required
                               [(ngModel)]="bank.Pincode" name="Pincode"
                               #Pincode="ngModel">
                        <div [hidden]="Pincode.valid ||Pincode.pristine"
                             class="alert alert-danger">
                             Pincode is required
                        </div>
                      </div>
                </div>
            </div>          
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Establishment_no">Establishment number</label>
                        <input type="text" class="form-control" id="Establishment_no"
                               required
                               [(ngModel)]="bank.Establishment_no" name="Establishment_no"
                               #Establishment_no="ngModel">
                        <div [hidden]="Establishment_no.valid || Establishment_no.pristine"
                             class="alert alert-danger">
                             Establishment_no is required
                        </div>
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="emailid_bank">email id of bank</label>
                        <input type="text" class="form-control" id="emailid_bank"
                               required
                               [(ngModel)]="bank.emailid_bank" name="emailid_bank"
                               #emailid_bank="ngModel">
                        <div [hidden]="emailid_bank.valid || emailid_bank.pristine"
                             class="alert alert-danger">
                             emailid_bank is required
                        </div>
                      </div>
                </div>
            </div>
            <div class="form-group">
              <label for="Website">Website</label>
              <input type="text" class="form-control" id="Website"
                     required
                     [(ngModel)]="bank.Website" name="Website"
                     #Website="ngModel">
              <div [hidden]="Website.valid || Website.pristine"
                   class="alert alert-danger">
                   Website is required
              </div>
            </div>
  
           
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Chairman_name">Chairman name</label>
                        <input type="text" class="form-control" id="Chairman_name"
                              required
                              [(ngModel)]="bank.Chairman_name" name="Chairman_name"
                              #Chairman_name="ngModel">
                        <div [hidden]="Chairman_name.valid ||Chairman_name.pristine"
                            class="alert alert-danger">
                            Chairman_name is required
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Chairman_emailid">Chairman email id</label>
                        <input type="text" class="form-control" id="Chairman_emailid"
                              required
                              [(ngModel)]="bank.Chairman_emailid" name="Chairman_emailid"
                              #Chairman_emailid="ngModel">
                        <div [hidden]="Chairman_emailid.valid ||Chairman_emailid.pristine"
                            class="alert alert-danger">
                            Chairman_emailid is required
                        </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label for="Chairman_mobile">Chairman mobile number</label>
                          <input type="text" class="form-control" id="Chairman_mobile"
                                 required
                                 [(ngModel)]="bank.Chairman_mobile" name="Chairman_mobile"
                                 #Chairman_mobile="ngModel">
                          <div [hidden]="Chairman_mobile.valid ||Chairman_mobile.pristine"
                               class="alert alert-danger">
                               Chairman mobile number is required
                          </div>
                        </div>
                  </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="MD_CEO_GM_name">MD/CEO/GM name</label>
                      <input type="text" class="form-control" id="MD_CEO_GM_name"
                             required
                             [(ngModel)]="bank.MD_CEO_GM_name" name="MD_CEO_GM_name"
                             #MD_CEO_GM_name="ngModel">
                      <div [hidden]="MD_CEO_GM_name.valid ||MD_CEO_GM_name.pristine"
                           class="alert alert-danger">
                           MD/CEO/GM name is required
                      </div>
                    </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for="MD_CEO_GM_mobile">MD_CEO_GM_mobile</label>
                      <input type="text" class="form-control" id="MD_CEO_GM_mobile"
                             required
                             [(ngModel)]="bank.MD_CEO_GM_mobile" name="MD_CEO_GM_mobile"
                             #MD_CEO_GM_mobile="ngModel">
                      <div [hidden]="MD_CEO_GM_mobile.valid ||MD_CEO_GM_mobile.pristine"
                           class="alert alert-danger">
                           MD/CEO/GM mobile number is required
                      </div>
                    </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <label for=" IT_head_name"> IT head name</label>
                      <input type="text" class="form-control" id=" IT_head_name"
                             required
                             [(ngModel)]="bank.IT_head_name" name=" IT_head_name"
                             #IT_head_name="ngModel">
                      <div [hidden]=" IT_head_name.valid || IT_head_name.pristine"
                           class="alert alert-danger">
                           IT head name is required
                      </div>
                    </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <label for=" IT_head_mobile">IT head mobile number</label>
                      <input type="text" class="form-control" id=" IT_head_mobile"
                             required
                             [(ngModel)]="bank.IT_head_mobile" name=" IT_head_mobile"
                             #IT_head_mobile="ngModel">
                      <div [hidden]=" IT_head_mobile.valid || IT_head_mobile.pristine"
                           class="alert alert-danger">
                           IT head mobile number is required
                      </div>
                    </div>
              </div>
            </div>

  
           
  
            
  
            
  

  

  
  
          <div class="form-group">
              <label for="Description">Description</label>
              <textarea type="text" class="form-control" id="Description"
                     required
                     [(ngModel)]="bank.Description" name="Description"
                     #Description="ngModel"></textarea>
              <div [hidden]="Description.valid || Description.pristine"
                   class="alert alert-danger">
                   Description is required
              </div>
  
            </div>
            <div class="form-group">
                <label for="Contact">Contact</label>
                <input type="number" class="form-control" id="Contact"
                       required
                       [(ngModel)]="bank.contact" name="Contact"
                       #Contact="ngModel" type="number">
                <div [hidden]="Contact.valid || Contact.pristine"
                     class="alert alert-danger">
                     Contact is required
                </div>
            </div>
            <div class="form-group">
                  <label for="QuestionariesTypeId">Bank Type</label>
                  <select class="form-control" id="BankType"
                  required
                  [(ngModel)] = "bank.TypeId" name = "BankType"
                  #BankType="ngModel">
                    <option *ngFor="let bt of bankTypes" [value]="bt.Id">
                      {{bt.Type}}
                    </option>
                  </select>
                  <div [hidden]="BankType.valid || BankType.pristine"
                       class="alert alert-danger">
                       Type is required
                </div>
              </div>
              <div class="form-group">
                  <label for="Payment">Payment</label>
                  <input type="number" class="form-control" id="Payment"
                         required
                         [(ngModel)]="bank.Payment" name="Payment"
                         #Payment="ngModel" type="number">
                  <div [hidden]="Payment.valid || Payment.pristine"
                       class="alert alert-danger">
                       Payment is required
                  </div>
                </div>              
          <button type="submit" class="btn btn-success" [disabled]="!bankForm.form.valid" (click)="save()">Submit</button>
          <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
        </form>
  </div>   
  </div>