<div class="row">
  <div class="col-md-12">
      <h1>Income/Expenses addition Form</h1>
      <hr/>
      <form (ngSubmit)="onSubmit" #incomeForm="ngForm">
          <div class="form-group" *ngIf="income.Id>0">
              <label for="Id">Id</label>
              <input type="text" class="form-control" id="Id"
                     required
                     [(ngModel)]="income.Id" name="Id"
                     #Id="ngModel" readonly/> 
                <div [hidden]="Id.valid || Id.pristine"
                    >
                  
                </div>            
            </div>
            <div class="form-group">
              <label for="Type">Type: Credit or Debit?</label>
              <select class="form-control" id="Type"
              required
              [(ngModel)]="income.Type" name="Type"
              #Type="ngModel">
             <option value="Income">Income</option>
             <option value="Expenses">Expenses</option>
              </select>
             
            </div>
          <div class="form-group">
            <label for="Name">Source Of Income </label>
            <input type="text" class="form-control" id="Name"
                   required
                   [(ngModel)]="income.Name" name="Name"
                   #Name="ngModel" pattern="[a-zA-Z ]*"/>
            <div [hidden]="Name.valid || Name.pristine"
                 >
           
            </div>
          </div>
          <div class="form-group">
            <label for="EventName">Event Name</label>
            <select class="form-control" id="EventName"
                   required
                   [(ngModel)]="income.EventId" name="EventId"
                   #EventId="ngModel">
              <option *ngFor="let e of events" [value]="e.Id">
                {{e.Name}}
              </option>
            </select>
            <div [hidden]="EventId.valid || EventId.pristine">
            </div>
          </div>
          <div class="form-group">
              <label for="Description">Description</label>
              <textarea type="text" class="form-control" id="Description"
                     required
                     [(ngModel)]="income.Description" name="Description"
                     #Description="ngModel"></textarea>
              <div [hidden]="Description.valid || Description.pristine"
                   >
          
              </div>
            </div>
            <div class="form-group">
              <label for="Amount">Amount</label>
              <input type="number" class="form-control" id="Amount"
                     required
                     [(ngModel)]="income.Amount" name="Amount"
                     #Amount="ngModel" digits />
              <div [hidden]="Amount.valid || Amount.pristine"
                   >
                   
              </div>
             
            </div> 
          <button type="submit" class="btn btn-success" [disabled]="!incomeForm.form.valid" (click)="save()">Submit</button>
          <button type="button" class="btn btn-default" (click)="goBack()">Back</button>
        </form>
  </div>   
</div>